{% extends "student/results-base.html" %}

{% block facets-top %}
<div class="faculty-facet">
    <h2>Keyword</h2>
    <form>
    	<input id="search-input" type="text" name="q" placeholder="keyword" value="{{ page.querystring }}" />
    	<input id="search-submit" type="submit" value="Search" class="btn-type1" />
	</form>
</div>
{% endblock facets-top %}