{% extends "student/timetable-base.html" %}
{% block timetable-content %}
    <div id="month-nav">
        <h2 class="purple">Michaelmas</h2>
        
        <ul class="list-horizontal" >
            <li><a id="prev" href="javascript:void(0);" class="ic-prev"></a></li>
            <li class="middle-date" >28 Dec – 3 Jan 2012</li>
            <li><a id="next" href="javascript:void(0);" class="ic-next"></a></li>
        </ul>
    </div>
    <div class="fullcalendar"></div>
{% endblock %}
