{% extends "student/timetable-base.html" %}
{% block timetable-content %}
    <div class="popup-month-view">
        <span class="ic-close"></span>
        
        <h2>Thursday 17 May</h2>
        
        <ul>
            <li class="lecture-series"><span>Animal O2 Acquisition and Respiration...</span></li>
            <li class="lecture-series">Animal O2 Acquisition and Respiration...</li>
            <li class="lecture-series">Animal O2 Acquisition and Respiration...</li>
            <li class="lecture-series">Animal O2 Acquisition and Respiration...</li>                
        </ul>
    </div>

    <div class="popup-event-detail">
        <span class="panel_arrow"></span>
        
        <h2 class="lecture-series">Animal O2 Acquisition and Respiration:Lecture name (2 of 4)</h2>

        <ul>
            <li><label>Day/Time</label> Mon Fri 09:00</li>
            <li><label>Lecturer</label> Dr. A. Webb</li>
            <li><label>Location</label> Main Lecture Theatre</li>        
        </ul>
        
        <p>
            Optional description description description ut erat vel est mattis congue quis sed erat.
        </p>
    </div>

    <div id="month-nav">
        <h2 class="purple"></h2>
        
        <ul class="list-horizontal" >
            <li><a id="prev" href="javascript:;" class="ic-prev"></a></li>
            <li class="middle-date" >May 2012</li>
            <li><a id="next" href="javascript:;" class="ic-next"></a></li>
        </ul>
    </div>
    <div class="fullcalendar"></div>
    </div>
{% endblock timetable-content %}
