{% extends "student/student-base.html" %}
{% load url from future %}

{% block title-area %}
{% include "student/fragments/title-select-year.html" %}
{% endblock %}

{% block main-content %}
<div id="browse-results-wrapper">
	<div class="facets">
		
		<div id="student-navigation">
			<a href="{% url "student home loggedin" %}">Back to home</a>
		</div>
		
		{% block facets-top %}
		{% endblock facets-top %}
		
	    {% for facet in page.facets %}
	    <div class="section-facets" data-facet-name="{{ facet.name }}">
		    <div class="section-facets-header">
		        <h3>{{ facet.display_name }}</h3>
		    </div>
		    <div class="section-facets-content">
		        <a class="ic-select" href="javascript:void(0)">Select all</a>
		        <a class="ic-deselect float-right" href="javascript:void(0)">Clear</a>
		        
		        <ul>
		        	{% for facet_value in facet.initial_values %}
		        	<li>
		        		<label>
	        				<input type="checkbox" name="facet_{{ facet_value.name }}"
	        						data-facet-value="{{ facet_value.name }}" 
	        						{% if facet_value.is_selected %}checked{% endif %}/>
	        				{{ facet_value.display_name }} ({{ facet_value.count }})
	        			</label>
	        		</li>
		           	{% endfor %}
		        </ul>
		        <ul style="display:none;" class="more-facets">
		        	{% for facet_value in facet.more_values %}
		        	<li>
		        		<label>
	        				<input type="checkbox" name="facet_{{ facet_value.name }}"
	        						data-facet-value="{{ facet_value.name }}" 
	        						{% if facet_value.is_selected %}checked{% endif %}/>
	        				{{ facet_value.display_name }} ({{ facet_value.count }})
	        			</label>
	        		</li>
		           	{% endfor %}
		        </ul>
		        {% if facet.more_values %}
		           	<a class="show-more-facets" href="javascript:void(0)">More</a>
	           	{% endif %} 
		    </div>
		</div>
		{% endfor %}
	</div> <!-- end facets -->
	
	<div id="results" {% if not user.is_logged_in %}class="results-not-loggedin"{% endif %}>
		{% include "student/fragments/lecture-list.html" %}		
	</div>
</div>

{% comment %}
Removing this util we know 100% this is what the spec wants and its Ok to do it.
Its probably a bad thing since it makes an anon view vary by user.
{% if user.isAdmin %}
<div id="admin-event-editor">
	
	<h2>Edit event</h2>
	
	{% include "administrator/fragments/editor-group.html" %}
	
	<ul class="buttons-wrapper">
		<li><a href="javascript:void(0)" class="btn-small btn-type1">Save</a></li>
		<li><a href="javascript:void(0)" class="btn-small btn-type2">Cancel</a></li>
	</ul>
	
</div>
{% endif %}
{% endcomment %}
 <!-- end results -->
 
<!-- collision detection dialog -->
<div class="popup" id="popup_collision">
	<div class="expand">
		<div class="popup-top">
			<span class="hide-me">&nbsp;</span>
		</div>
		<div class="popup-content">
			<div class="popup-content-head">
				<p>This will clash with events already in your timetable</p>
			</div>
			<ul class="popup-buttons-wrapper">
				<li>
					<a href="#" class="btn-small btn-type1 add">Add</a>
				</li>
				<li>
					<a href="#" class="btn-small btn-type2">Don't add</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- end dialog --> 

<!-- login dialog -->
<div class="popup" id="popup_login">
	<div class="expand">
		<div class="popup-top">
			<span class="hide-me">&nbsp;</span>
		</div>
		<div class="popup-content">
			<div class="popup-content-head">
				<p>You need to log in to build your timetable</p>
			</div>
			<ul class="popup-buttons-wrapper">
				<li>
					<a href="{% url "login url" %}" class="btn-small btn-type1">Log in</a>
				</li>
				<li>
					<a href="#" class="btn-small btn-type2 cancel">Cancel</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- end dialog -->

{% endblock %}

    