{% extends "student/student-base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block studenthead %}
<link rel="stylesheet" href="{% static "js/libs/fullcalendar/fullcalendar.css" %}">
{% endblock studenthead %}

{# Don't show slide out timetable #}
{% block your-timetable %}{% endblock your-timetable %}

{% block title-area %}
	<div id="title" class="content-container">My Timetable</div>
{% endblock %}

{% block main-content %}
<div id="timetable-views">
    
    <div id="calender">
        <div id="student-navigation">
        	<a href="{% url "student home loggedin" %}">&lt; Back to lecture list</a>
        </div>
    
        <h2>Your timetable - calendar view</h2>
        <p>This is your personal timetable.</p>
        
		{# {% include "student/fragments/timetable-changes-dialog.html" %} #}

        <hr/>
    
        <ul id="week-nav">
            <li>
                <label title="Use Monday as the first day of the week">
                	<input type="radio" name="sweek" value="standard" 
                        {% if not cambridge_week %}checked="true"{% endif %} />
                	Standard week
                </label>
            </li>
            <li>
                <label title="Use Thursday as the first day of the week">
            		<input type="radio" name="sweek" value="cambridge"
                        {% if cambridge_week %}checked="true"{% endif %}/>
            		Cambridge week
            	</label>
            </li>
        </ul>
    
        <div id="tabs" class="calendar-header">
            <ul class="nav-horizontal tab-nav">
                <a href="{% url "student timetable weekview" user.username %}?{{request.GET.urlencode}}">
            		<li class="btn-type2 {% if timetable_type == "week" %}selected{% endif %}">Week</li>
            	</a>
                <a href="{% url "student timetable monthview" user.username %}?{{request.GET.urlencode}}">
                	<li class="btn-type2 {% if timetable_type == "month" %}selected{% endif %}">Month</li>
                </a>
                <a href="{% url "student timetable termview" user.username %}?{{request.GET.urlencode}}">
                	<li class="btn-type2 {% if timetable_type == "term" %}selected{% endif %}">Term</li>
                </a>
                <a href="{% url "student timetable listview" user.username %}?{{request.GET.urlencode}}">
                	<li class="btn-type2 {% if timetable_type == "list" %}selected{% endif %}">List</li>
                </a>
                <li class="float-right">
                    <a class="ic-export" href="{{ personal_ical_feed }}">Export to calender app<span class="desc_text">(eg. Google Calendar, Outlook)</span></a>
                    <a class="ic-print" href="{% url "TODO" %}">Print</a>
                </li>
            </ul>
        </div>
        
        <div class="calendar-content timetable timetable_type_{{timetable_type}}">
        	{% block timetable-content %}
        	{% endblock timetable-content %}
        </div>
    </div>
</div>
{% endblock %}