{% load staticfiles %}

<div class="info-dialog {{ info_dialog_classes }}">
	<img class="info-dialog__top-triangle" src="{% static "images/info-dialog-arrow.png" %}" alt="^">
	<div class="info-dialog__content">
		<div class="info-dialog__header">
			<div class="info-dialog__header-content">
				{% block info-dialog__header %}
				<h3 class="laboratory">Algebra, Units and Graphs</h3>
				{% endblock info-dialog__header %}
			</div>
		</div>
		<div class="info-dialog__body">
			{% block info-dialog__body %}
			<table class="event-info-table">
            	<tr>
                	<td class="event-info-table__label">Time</td>
                	<td class="event-info-table__value">8 p.m. – 9 p.m.</td>
                </tr>
                <tr>
                	<td class="event-info-table__label">Lecturer</td>
                	<td class="event-info-table__value">—</td>
                </tr>
                <tr>
                	<td class="event-info-table__label">Location</td>
                	<td class="event-info-table__value">Bristol Myers Squibb Lecture Theatre</td>
                </tr>
            </table>
            <p>Optional description description description ut erat vel est mattis congue quis sed erat.</p>
			{% endblock info-dialog__body %}
		</div>
	</div>
</div>