{% extends "superadministrator/super-administrator-base.html" %}
{% comment %}
This page is the "Administrators" page from the superadmin blueprint.
{% endcomment %}

{# Required to use variables in url tags. #}
{% load url from future %}
{% load timetables_tags %}
{% block title-area %}{% endblock title-area %}

{% block pagehelp %}
	<span help-title="Super Administration: Administrators" style="display:none">
      <p>
      This page shows a list of Administrators in the system. Against each administrator
      is shown their name, their CRSID, their email and the Faculties for which they have some administrative
      capability. By clicking on their name you can edit these details. Entering a search term into the search box
      will find administrators based on those terms.
      </p>
      <p>
      In addition to listing you can add new administrators using the "Add New Administrator" link on the left or
      by clicking the Add New Administrator button.
      </p>
   </span>			
{% endblock %}

{% block admin-nav-breadcrumb-additional-content %}
<a href="{% url "superadmin add administrator" %}" class="btn-type1 btn-medium">Add New Administrator</a>
{% endblock admin-nav-breadcrumb-additional-content %}

{% block admin-page-content-header-additional-content %}
<form>
    <input type="text" name="q" value="{{ search_term }}" placeholder="Search Administrators">
    <input type="submit" name="" value="&gt;" class="btn-type1">
</form>
{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content-root %}{% endblock admin-header-additional-content-root %}


{% block admin-page-content %}
    <section id="administrators">
        {% include "superadministrator/fragments/administrators_table.html" with url_params="superadmin administrators" %}
    </section>
{% endblock admin-page-content %}
