{% extends "superadministrator/super-administrator-base.html" %}
{% load url from future %}
{% load timetables_tags %}

{% comment %}
This page is the "faculties" page from the superadmin blueprint.
{% endcomment %}

{# Required to use variables in url tags. #}
{% load url from future %}
{% block title-area %}{% endblock title-area %}
{% block pagehelp %}
	<span help-title="Super Administration: Faculties" style="display:none">
      <p>
      This page lists faculties, the key admins for each faculty and a link to the timetable for each faculty. You may sort and search for faculties.
      If you click on a faculty name you can edit it. If you click on Add New Faculty you can create a new faculty.
      </p>
   </span>			
{% endblock %}
{% block admin-nav-breadcrumb-additional-content %}
<a href="{% url "superadmin add faculties" %}" class="btn-type1 btn-medium">Add New Faculty</a>
{% endblock admin-nav-breadcrumb-additional-content %}

{% block admin-page-content-header-additional-content %}
    {% include "superadministrator/fragments/faculty_search_form.html" %}
{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content-root %}{% endblock admin-header-additional-content-root %}

{% block admin-page-content %}
<section id="faculties">
<div class="number">Showing {{ page|length }} faculties</div>
    <table class="admin-table-light">
        <tr>
            <th><a href="?{% sort_column_href "name" %}" class="{% sort_column_class "name" %}" >Name</a></th>
            <th>Key Admins</th>
            <th></th>
        </tr>
        {% for org, key_admins in org_admins.items %}
        <tr>
            <td><a href="{% url "superadmin edit faculties" org.id %}">{{ org.name }}</a></td>
            <td>
            {% for admin in key_admins  %}
                <a href="{% url "superadmin edit administrator" admin.username %}">{{ admin.username }}</a>
            {% endfor %}
            </td>
            <td><a href="{% url "admin events" org.year.starting_year org.code %}">View timetable »</a></td>
        </tr>
        {% endfor %}
    </table>
    {% include "administrator/fragments/django-pagination.html" with url_params="superadmin faculties" %}
</section>
{% endblock admin-page-content %}