{% extends "superadministrator/super-administrator-base.html" %}

{% comment %}
This page is the "Administrators" page from the superadmin blueprint.
{% endcomment %}


{# Required to use variables in url tags. #}
{% load url from future %}
{% block title-area %}{% endblock title-area %}
{% block pagehelp %}
	<span help-title="Super Administration: Timetables" style="display:none">
      <p>
      This page shows a list of timetables in the system. Clicking on a faculty name will edit the faculty name. Clicking on the view shows the subjects associated with the timetable level.
      
      </p>
   </span>			
{% endblock %}

{% block admin-page-content-header-additional-content %}
    {% include "superadministrator/fragments/faculty_search_form.html" %}
{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content-root %}{% endblock admin-header-additional-content-root %}

{% block admin-page-content %}
<section id="timetable-status">
    {% include "superadministrator/fragments/timetable-status.html" %}
</section>    

{% include "administrator/fragments/pagination.html" %}

{% endblock admin-page-content %}