{% load url from future %}
<form action="" method="POST">{% csrf_token %}
    <section class="django-form admin-editor"
             data-form-prefix="{{ admin_form.prefix|default:"" }}">
        
        {# Hidden fields #}
        {{ admin_form.meta_scroll_offset }}
        {{ admin_form.meta_was_auto_submitted }}
        
        {{ admin_form.non_field_errors }}
        
        {% block admin-edit-disable-hook %}
        {% endblock admin-edit-disable-hook %}
        
        <div class="field text-input {{ admin_form.crsid.css_classes }}">
                {{ admin_form.crsid.label_tag }}
                {{ admin_form.crsid }}
                {{ admin_form.crsid.errors }}
        </div>
        <div class="field checkbox {{ admin_form.is_superadmin.css_classes }}">
            {{ admin_form.is_superadmin }}
            {{ admin_form.is_superadmin.label_tag }}
            {{ admin_form.is_superadmin.errors }}
        </div>
        
        <div class="django-formset faculty-affiliations"
              {% if admin_form.affiliations.can_delete %}data-soft-delete="true"{% endif %} 
              data-form-prefix="{{ admin_form.affiliations.prefix|default:"" }}">
            {{ admin_form.affiliations.management_form }}
            <div style="display:none;" class="faculty-affiliation django-form-template">
                {# include a hidden, empty version of the form to use as a template when creating new forms in the formset using javascript. #}
                {% include "superadministrator/fragments/faculty_affiliation_form.html" with form=admin_form.affiliations.empty_form %}
            </div>
            
            <h3 class="legend">Faculties</h3>
            
            <div class="django-formset-container">
            {% for form in admin_form.affiliations %}
	            {% include "superadministrator/fragments/faculty_affiliation_form.html" with form=form %}
            {% endfor %}
            </div>
            
            <a id="add-faculty-affiliation-btn" class="btn-type1 btn-small" href="javascript:void(0)">Add to another faculty</a>
        </div>
        <ul class="nav-horizontal nav-right">
            <li>
                <a href="{% url "superadmin administrators" %}" class="btn-type2 btn-medium">Cancel</a>
            </li>
            <li>
                <button class="btn-type1 btn-medium" type="submit">Save</button>
            </li>
        </ul>
    </section>
</form>
