{% load url from future %}

<form method="post" action="" id="form_add_faculty" class="django-form">
    {% csrf_token %}

    {% block edit-faculty-delete-hook %}
    {% endblock edit-faculty-delete-hook %}

    <ul class="block-label additional-width">
        <li id="li_id_name" class="field">
            <label>Name</label>
            <p class="hint">The full name of the Faculty which users will see.</p>
            <input type="text" name="name" value="{{ organisation.name }}">
            <div class="validation_not_empty errormessage">This field is required.</div>
            {% block edit-faculty-view-timetable %}
		    {% endblock edit-faculty-view-timetable %}
        </li>
        <li id="li_id_code" class="field {{ form.code.css_classes }}">
            <label>Code</label>
            <p class="hint">This code is short form of the name. It's used in URLs.</p>
            <input type="text" name="code" value="{{ organisation.code }}">
            <div class="validation_not_empty errormessage">This field is required.</div>
        </li>
        <li class="field">
            <label>Year</label>
            <p class="hint">The academic year this Faculty exists under.</p>
            <select name="year">
                {% for year in years %}
                    <option {% if organisation.year == year %}selected{% endif %} value="{{ year.id }}">{{ year.name }}</option>
                {% endfor %}
            </select>
        </li>
    </ul>

    {% block faculty-administrators %}
    {% endblock faculty-administrators %}

    <div id="timetable-for-faculty">
        <ul class="block-label list-horizontal">
            <li>
                <h3>Timetables for this faculty</h3>
            </li>
            <button type="button" id="add-classifier-group-button" class="btn-type1 btn-medium float-right">Add New Classifier Group</button>
        </ul>
        <div id="classifier-groups" class="clear-self">
            {% for group in groups %}
                {% include "superadministrator/fragments/classifier-group.html" with group_index=forloop.counter0 %}
            {% endfor %}
        </div>
    </div>

    <ul class="nav-horizontal nav-right">
        <li><a class="cancel" href="{% url "superadmin faculties" %}">Cancel</a></li>
        <!-- <li><button class="save btn-type1 btn-medium btn-inactive"></li> -->
        <li><button type="submit" class="save btn-type1 btn-medium">{{ save_button_label|default:"Create Faculty" }}</button></li>
    </ul>
</form>


{# Dialogs, these are stated seperatedly to avoid putting i18n/i10n text in javascript #}
<div id="add-new-classification-group-dialog" title="" class="dialog-container" style="display:none;">
    <h3>Add new classification group</h3>
    <ul class="list-horizontal block-label">
        <li>
            <label>Group name</label>
            <input type="text" name="name" value="" />
        </li>
    </ul>
    <ul class="nav-horizontal nav-right dialog-menu">
        <li><button class="cancel btn-medium btn-type2">Cancel</button></li>
        <li><button class="save btn-medium btn-type1">Save</button></li>
    </ul>
</div>


<div id="edit-classification-group-dialog" title="" class="dialog-container" style="display:none;">
    <h3>Edit classification group</h3>
    <ul class="list-horizontal block-label">
        <li>
            <label>Group name</label>
            <input type="text" name="name" value="" />
        </li>
    </ul>
    <ul class="nav-horizontal nav-right dialog-menu">
        <li><button class="cancel btn-medium btn-type2">Cancel</button></li>
        <li><button class="save btn-medium btn-type1">Save</button></li>
    </ul>
</div>


<div id="add-level-dialog" title="" class="dialog-container"  style="display:none;">
    <h3>Add new level</h3>
    <ul class="list-horizontal block-label">
        <li>
            <label>Level name</label>
            <input type="text" name="name" value="" />
        </li>
    </ul>
    <ul class="nav-horizontal nav-right dialog-menu">
        <li><button class="cancel btn-medium btn-type2">Cancel</button></li>
        <li><button class="save btn-medium btn-type1">Save</button></li>
    </ul>
</div>



<div id="edit-level-dialog" title="" class="dialog-container" style="display:none;">
    <h3>Edit level</h3>
    <ul class="list-horizontal block-label">
        <li>
            <label>Level name</label>
            <input type="text" name="name" value="" />
        </li>
    </ul>
    <ul class="nav-horizontal nav-right dialog-menu">
        <li><button class="cancel btn-medium btn-type2">Cancel</button></li>
        <li><button class="save btn-medium btn-type1">Save</button></li>
    </ul>
</div>


<div id="edit-classification-dialog" title="" class="dialog-container" dialog-width="300" style="display:none;">

        <input type="hidden" id="classification-name-original" name="classification-name-original" value="" />
        <ul class="list-vertical">
            <li>
                <label>Classification Name</label>
                <input type="text" id="classification-name" name="classification-name" value="" />
                <div class="validation_classification_name errormessage">Classification name must be unique and not empty</div>
            </li>
          <li>
              <label>Level</label>
              <select name="org_level" class="classification-selector">
	                  <option class="_keep" value=""  >-- none --</option>
              </select>
              <select style="display: none;" >
              	  <option class="_template" value="__level_id__" __level_selected__  >__level_value__</option>
              </select>
              <div class="validation_not_empty errormessage" >Please select a level</div>
          </li>
           <li>
                <label>Contact <span class="optional-label">(Optional)</span></label>
                <input type="text" name="classification-contact_person" value="" />
            </li>
            <li>
                <label>Website <span class="optional-label">(Optional)</span></label>
                <input type="text" name="classification-website" value="" />
            </li>
            <li>
                <label>Classification Description <span class="optional-label">(Optional)</span></label>
                <textarea name="classification-description" value=""></textarea>
            </li>          
        </ul>

    <ul class="nav-horizontal nav-right dialog-menu">
        <li><button class="cancel btn-medium btn-type2">Cancel</button></li>
        <li><button class="save btn-medium btn-type1">Save</button></li>
    </ul>
</div>


<div id="confirm-delete-level-dialog" title="" class="dialog-container"  style="display:none;">
    <h3>Delete Level <span class="_name" ></span></h3>
    <p>Are you absolutely certain you want to delete this level ?</p>
    <p>If the level is in use by events, or has subjects or other classifications, deleting it will 
       result in some events having no classification. Might be advisable to check first if you 
       have not already.</p>
    <ul class="list-horizontal block-label">
        <li>
            Delete the level  <span class="_name" ></span> ?
        </li>
    </ul>
    <ul class="nav-horizontal nav-right dialog-menu">
        <li><button class="no btn-medium btn-type2">No</button></li>
        <li><button class="yes btn-medium btn-type1">Yes</button></li>
    </ul>
</div>

<div id="confirm-delete-subject-dialog" title="" class="dialog-container"  style="display:none;">
    <h3>Delete <span class="_name" ></span></h3>
    <p>Are you absolutely certain you want to delete this subject ?</p>
    <p>If the subject is in use by events, deleting it will 
       result in some events having no subject. Might be advisable to check first if you 
       have not already.</p>
    <ul class="list-horizontal block-label">
        <li>
            Delete the subject  <span class="_name" ></span>  ?
        </li>
    </ul>
    <ul class="nav-horizontal nav-right dialog-menu">
        <li><button class="no btn-medium btn-type2">No</button></li>
        <li><button class="yes btn-medium btn-type1">Yes</button></li>
    </ul>
</div>

<div id="confirm-delete-group-dialog" title="" class="dialog-container"  style="display:none;">
    <h3>Delete group <span class="_name" ></span></h3>
    <p>Are you absolutely certain you want to delete this classification group ?</p>
    <p>If the classification group contains classifications that are associated with events, they will loose those classifications. Might be advisable to check first if you 
       have not already.</p>
    <ul class="list-horizontal block-label">
        <li>
            Delete the classification group <span class="_name" ></span> ?
        </li>
    </ul>
    <ul class="nav-horizontal nav-right dialog-menu">
        <li><button class="no btn-medium btn-type2">No</button></li>
        <li><button class="yes btn-medium btn-type1">Yes</button></li>
    </ul>
</div>
