{% load url from future %}
{% load timetables_tags %}

<div class="number">Showing {{ administrators|length }} administrators</div>
<table class="admin-table-light">
<tr>
    <th><a href="?{% sort_column_href "name" %}" class="{% sort_column_class "name" %}" >Name</a></th>
    <th><a href="?{% sort_column_href "crsid" %}" class="{% sort_column_class "crsid" %}" >CRSid</a></th>
    <th><a href="?{% sort_column_href "email" %}" class="{% sort_column_class "email" %}" >Email</a></th>
    <th>Faculties</th>
</tr>
{% for admin in administrators %}
    <tr>
        <td><a href="{% url "superadmin edit administrator" admin.username %}">
            {{ admin.get_full_name|default:"&mdash;" }}
        </a></td>
        <td><a href="{% url "superadmin edit administrator" admin.username %}">
            {{ admin.username }}
        </a></td>
        <td>
        {% if admin.email %}
            <a href="mailto:{{ admin.email|urlencode }}">{{ admin.email }}</a>
        {% else %}
            &mdash;
        {% endif%}
        </td>
        <td>
            {% for org in admin.organisations %}
                <a href="{% url "superadmin edit faculties" org.id %}">{{ org.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>

{% include "administrator/fragments/django-pagination.html" with page=administrators url_params=url_params %}