{% load url from future %}
<form class="{{classification_form_classes}}">
    <div class="section-admin-add-group">
        <ul id="edit-level-classification">
            <li id="level">
                <label>Level</label>
                <ul id="multi-level-select">
                    {% for level in organisation.classifications.levels %}
                        <li>{{ level }} (<a href="{% url "TODO" %}">Edit</a> | <a href="{% url "TODO" %}">Delete</a>)</li>
                    {% endfor %}
                </ul>
                <a href="javascript:void(0)" class="btn-type1 btn-small">Add new Level</a>
            </li>
            <li id="classificiation">
                <label>Topic (<a href="{% url "TODO" %}">Edit</a>)</label>
                <ul id="multi-classification-select">
                    {% for subject in organisation.classifications.subjects %}
                        <li>{{ subject }} (<a href="{% url "TODO" %}">Edit</a> | <a href="{% url "TODO" %}">Delete</a>)</li>
                    {% endfor %}
                </ul>
                <a href="javascript:void(0)" class="btn-type1 btn-small">Add new</a>
            </li>
        </ul>
    </div>
</form>