{% load url from future %}

{% if page.is_current %}
<li class="nav-selected">
    <span>{{page.name}}</span>
</li>
{% else %}
<li class="page">
    <a href="{% url page.view_name %}"><span>{{page.name}}</span></a>
</li>
{% endif%}
