<form class="{{classification_form_classes}}">
    <div class="section-admin-add-group">
        <ul>
            <li id="level">
                <label>Select Level</label>
                <ul id="multi-level-select">
                    {% for level in organisation.classifications.levels %}
                        <li><label><input type="checkbox" value="{{level}}" name="{{level}}"> {{ level }}</label></li>
                    {% endfor %}
                </ul>
            </li>
            <li id="classificiation">
                <label>Select Classification</label>
                <ul id="multi-classification-select">
                    {% for subject in organisation.classifications.subjects %}
                        <li><label><input type="checkbox" value="{{subject}}" name="{{subject}}"> {{ subject }}</label></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</form>