{# Needed for humanise tag. #}
{% load timetables_tags %}
<table class="admin-table-light">
        <tr>
            <th>Year</th>
            {% for name, _, span in termdatetable.column_groups %}
                <th colspan="{{ span }}">{{ name|humanise }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            {% for _, column_group, _ in termdatetable.column_groups %}
                {% if column_group.columns|length == 1%}
                    {% with column=column_group.columns.0 %}
                    <th>{{ column.common_names|join:", " }}</th>
                    {% endwith %}
                {% else %}
                    {% with cstart=column_group.columns.0 cend=column_group.columns.1 %}
                    <th>Start<p>{{ cstart.common_names|join:", " }}</p></th>
                    <th>Finish<p>{{ cend.common_names|join:", " }}</p></th>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </tr>
    {% for year, row in termdatetable.rows %}
    <tr class="dates">
        <th>{{ year.name }}</th>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>