{% load url from future %}
<div id="view-faculty-timetables">
    <h3>View Faculty Timetables</h3>
    <p>See a list of events for a specific timetable by selecting from the options below</p>
    
    <form method="get" action="{% url "admin timetable" "0000" "0" %}">
        <ul class="list-horizontal block-label">
        
            <li>
                <label class="label-bold">Faculty</label>
                <select name="c" id="organisation-select"></select>
            </li>
            <li>
                <label class="label-bold">Year</label>
                <select name="y" id="year-select"></select>
            </li>
        </ul>
        <button type="submit" class="btn-type1 btn-medium btn-right ">
            View Timetables
        </button>
    </form>
</div>

