/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 12px; line-height: 1.4; color: #333333; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0; list-style-type: none; }
ul li { margin: 10px 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; border: 0; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
#main
{ width: 960px; margin: 0 auto; overflow: auto; }


/* General Styles */
a 
{ text-decoration: none; color: #2fb2bf; }

a:active
{ }

a:hover
{ text-decoration: underline; }

/* Titles and Text */
h1, h2, h3, h4, h5, h6
{ color: #3a3a3a; }

h1
{ }

h2
{ font-size: 20px; color: ; }

h3
{ margin: 0; }

h4
{ margin: 0; }

small
{ text-transform: capitalize; display: block; font-size: 11px; color: #4b4b4b; margin: 0 0 20px 0; }

.admin-title
{ display: inline-block; color: #8f2b8c; margin: 0; font-size: 20px; }

/* Content containers */
.content-container
{ width: 960px; margin: 0 auto; }

header
{ padding: 20px 0 24px 0; }

footer
{ background: #f5f5f5; height: 148px; clear: both; margin-top: 60px; }

footer h4
{ margin-bottom: 10px; }

footer ul 
{ float: left; margin-right: 80px; margin-top: 15px; }

footer ul li
{ margin: 5px 0; }

.left-col
{ float: left; width: 230px; }

.right-col
{  float: right; width: 705px; }

/* Top Navigation */
#top-navigation
{ margin: 18px 0 0 0; }



/* Select header */
.title-area select
{ -webkit-appearance: none; -moz-appearance: none; height: 35px; }

#select-subject
{ width: 700px; opacity: 0; filter: alpha(opacity = 0); }

#select-subject-skin
{ width: 700px; height: 35px; position: absolute; background: #333; color: #fff; top: 15px; font-size: 28px; font-family: Georgia; pointer-events:none; }

#select-date
{ width: 150px; float: right; opacity: 0; filter: alpha(opacity = 0); }

#select-date-skin
{ width: 150px; height: 35px; position: absolute; right: 15px; top: 13px; pointer-events:none; color: #fff; font-size: 28px; font-family: Georgia; }

.title-area
{ height: 64px; background: #333; -moz-box-shadow: inset -2px 0px 7px #000;-webkit-box-shadow: inset -2px 0px 7px #000; }

.title-area .content-container
{ padding: 15px; position: relative; }



/* Navigation */
#top-navigation
{  }

#top-navigation li
{ padding-left: 15px; }

/* Horizontal Navigation */
.nav-horizontal
{ list-style-type: none; padding: 0; margin: 0; }

.nav-horizontal li
{ display: inline-block; color: #0cb4c3; padding: 0 2px; }

.nav-horizontal .nav-selected a
{ color: #8f2b8c; }

.nav-horizontal .separator
{ font-weight: normal; color: #b3b3b3; }

/* Breadcrumb */
.nav-breadcrumb
{ margin: 8px 0; }

.nav-breadcrumb ul li
{ color: #333333; display: inline-block; padding: 0 2px; }


/* Bold Styling */
.nav-bold
{ font-weight: bold; }


/* Navigation align types */ 
.nav-right
{ float: right; }

.nav-central
{ text-align: center;  }

.nav-left
{ text-align: left; }

/* Pagination */
.nav-pagination
{ margin: 15px 0 0 0; text-align: center; }

.nav-pagination li a
{ background: #ebf2f3; min-width: 20px; padding: 3px 0; display: block; text-align: center; font-weight: bold;  }

.nav-pagination li a:hover
{ background: #0cb4c3; color: #fff; text-decoration: none; }

.nav-pagination .selected a
{ background: #0cb4c3; color: #fff; }

.nav-pagination .nextPage a
{ background: none; margin-left: 10px; }

.nav-pagination .nextPage a:hover
{ background: none; color: #0cb4c3; text-decoration: underline;  }


/* Headings */
.heading-dialog
{ color: #8f2b8c; font-size: 16px; display: inline; float: left; padding: 10px 10px 5px 10px; margin: 0; min-width: 150px; }


/* Buttons */
.btn-large, .btn-medium, .btn-small { 
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
    display:inline-block;
    width: auto;
    padding: 8px 12px;
}

.btn-large
{ font-size: 16px; min-width: 180px; font-weight: 400; }

.btn-medium 
{ }

.btn-small
{ padding: 3px 12px; }

/* Inactive State */
.btn-inactive
{ opacity:0.45; filter: alpha(opacity = 45); } 


/* Button Type 1 "primary button styles" */
.btn-type1 {
    background: #10a8b6; /* Old browsers */
    background: -moz-linear-gradient(top,  #10a8b6 0%, #1ca8b5 51%, #119ba9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#10a8b6), color-stop(51%,#1ca8b5), color-stop(100%,#119ba9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #10a8b6 0%,#1ca8b5 51%,#119ba9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #10a8b6 0%,#1ca8b5 51%,#119ba9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #10a8b6 0%,#1ca8b5 51%,#119ba9 100%); /* IE10+ */
    background: linear-gradient(top,  #10a8b6 0%,#1ca8b5 51%,#119ba9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10a8b6', endColorstr='#119ba9',GradientType=0 ); /* IE6-9 */ 
    color: #fff;
    text-shadow:0 1px 1px #14767f;
}

.btn-type1:hover { 
    background: #1199a6; /* Old browsers */
    background: -moz-linear-gradient(top, #1199a6 0%, #1dabb8 51%, #11a8b6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1199a6), color-stop(51%,#1dabb8), color-stop(100%,#11a8b6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1199a6 0%,#1dabb8 51%,#11a8b6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1199a6 0%,#1dabb8 51%,#11a8b6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1199a6 0%,#1dabb8 51%,#11a8b6 100%); /* IE10+ */
    background: linear-gradient(top, #1199a6 0%,#1dabb8 51%,#11a8b6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1199a6', endColorstr='#11a8b6',GradientType=0 ); /* IE6-9 */ 
    color: #fff; 
    text-decoration: none;
}

.btn-type1:active
{ color: #fff; }

.btn-type1:visited
{ color: #fff; }


/* Button Type 2 and Type3 "default subnavigation buttons */
.btn-type2, .btn-type3 { 
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e6e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e6e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e6e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e6e5e5 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#e6e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e5e5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #e0dede;
    font-weight: 600; 
    text-decoration: none;
}

.btn-type2:hover, .btn-type3:hover {
    background: #e6e5e5; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6e5e5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4 */
    background: -webkit-linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
}

.btn-type2, .btn-type2:hover, .btn-type2:active, .btn-type2:visited
{ color: #303030; }

.btn-type3, .btn type3:active, .btn-type3:visited, .btn-type3:hover
{ color: #0cb4c3; }


/* Type 4 - "Show more results button" style */
.btn-type4 {
    display: inline-block;
    margin-top: -1px;
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    font-size: 12px; 
    padding: 6px 15px 8px 15px; 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20); 
    background: #ebf2f3; 
    font-size: 12px; 
    color: #0fa6b5; 
    font-weight: 600; 
}

.btn-type4:active, .btn-type4:visited
{ color: #0fa6b5; }

.btn-type4:hover
{ background: #139dab; color: #fff; text-decoration: none; }

/* Type 5 (used in content navigation) */
.btn-type5
{ background: #ebf2f3; width: 22px; height: 22px; display: block; font-weight: bold; }


/**
*
* Section (specific UI elements
*
*/

/* Show more results */ 
.section-showmore
{ width: 100%; display: block; border-top:#d9d9d9 1px dashed;  text-align: center; }

.section-showmore .btn-type4
{ border-radius: 0px 0px 4px 4px; -moz-border-radius: 0px 0px 4px 4px; -webkit-border-radius: 0px 0px 4px 4px;  }


/* Timetable builder */
.section-personalisedtimetable
{ width: 100%; display: block; border-top: 10px solid #d2aad1; clear: both; position: relative; z-index: 100; }

.section-personalisedtimetable .counter
{ font-size: 14px; color: #fff; padding-left: 5px; }

.btn-personalisedtimetable{ 
    font-size: 14px;
    background: #8f2b8c; 
    padding: 8px 23px 12px 55px; 
    color: #cb9fcb; 
    float: right; 
    margin-right: 65px; 
    border-radius: 0px 0px 4px 4px; 
    -moz-border-radius: 0px 0px 4px 4px; 
    -webkit-border-radius: 0px 0px 4px 4px; 
    background: #8f2b8c url('../img/ic_timebuilder.png') no-repeat 20px 6px;
    height: 20px;
}

.btn-personalisedtimetable:hover
{ text-decoration: none; }

.ic_down, .ic_up
{ display: inline-block; width: 19px; height: 19px; float: right; margin-left: 15px; }

.ic_down
{ background: url('../img/ic_timedown.png') no-repeat;  }

.ic_up
{ background: url('../img/ic_timeup.png') no-repeat; }


/* Section Expand / Collapse */
.section-expandcollapse
{ margin: 20px 0; width: 345px; display: inline-block; }

.section-expandcollapse .btn-type4
{ display: block; z-index: 99; position: relative; }

.section-expandcollapse .btn-type3
{ display: inline-block; float: right; padding: 2px 20px; margin: 3px 0 0 0; }

.section-expandcollapse h4
{ padding: 10px 0 13px 15px; display: inline; float: left; }

.section-expandcollapse ul
{ background: #f6f6f6; padding-bottom: 35px; padding-top: 4px; border-radius: 0px 0px 4px 4px;  -moz-border-radius: 0px 0px 4px 4px; -webkit-border-radius: 0px 0px 4px 4px;  }

.section-expandcollapse li
{ background: #f6f6f6; padding: 5px 0 5px 0; margin: 0 18px 0px 18px; border-bottom: 1px dashed #d9d9d9; }

.section-expandcollapse li:last-child
{ border-bottom: 0; }

.ic-up
{ background: #ebf2f3 url('../img/ic_up.png') no-repeat 12px 9px; padding-left: 30px;  }

.ic-up:hover
{ background: #139dab url('../img/ic_up_hover.png') no-repeat 12px 9px; padding-left: 30px;  }

.ic-down
{ background: #ebf2f3 url('../img/ic_down.png') no-repeat 12px 11px; padding-left: 30px;  }

.ic-down:hover
{ background: #139dab url('../img/ic_down_hover.png') no-repeat 12px 11px; padding-left: 30px;  }


/* Event Added Dialog */
.section-personalisedtimetable-dialog
{ width: 195px; border: 5px solid #c8c8c8; padding: 13px; position: absolute; right:65px; top: 55px; background: #fff; }

.section-personalisedtimetable-dialog h3
{ font-size: 14px; margin: 0 0 8px 0;  }

.section-personalisedtimetable-dialog hr
{ margin: 10px 0;  }

.section-personalisedtimetable-dialog table
{ margin: 8px 0 15px 0; }


/* Personalised timetable view */
.section-personalisedtimetable-view 
{ min-width: 368px; max-width: 433px; border: 5px solid #d2aad1; position: absolute; right:65px; top: 55px;  }

.section-personalisedtimetable-view-header
{ padding: 8px 15px 0 15px;  }

.section-personalisedtimetable-view-header-notify
{ color: #989898; }

.section-personalisedtimetable-view-header .nav-horizontal
{ padding: 5px 0; }

.section-personalisedtimetable-view-content
{ padding: 0 7px 1px 7px; margin-top: -10px; clear: both; }

.section-personalisedtimetable-view-content ul
{ padding: 0 7px; margin: 0; }

.section-personalisedtimetable-view-content .lecture-data li
{ padding: 8px 15px 8px 15px; display: block; overflow: auto; background: #f6f6f6; }

.section-personalisedtimetable-view-content .lecture-data h4
{ margin-left: 10px; display: inline-block; padding-bottom: 6px; }

.lecture-data-description, .lecture-data-info
{ width: 50%; float: left; display:block; line-height: 1.9em; }

.section-personalisedtimetable-view-footer
{ text-align: center; margin-bottom: 10px; }


/* Facets */
.section-facets
{ width: 230px; background: #f6f6f6 url('../img/background_facet_header.png') repeat-x; }

.section-facets-header
{ padding: 10px 30px; margin-bottom: 10px; }

.section-facets-header h3
{ font-size: 16px; }

.section-facets-content
{ padding: 10px 15px 30px 30px; }

.section-facets-content ul
{ margin: 20px 0 0 0; }

.section-facets-content ul li
{ padding: 5px 0;  }

.section-facets-content input
{ margin-right: 8px; }

.section-facets-content a
{ font-weight: bold;  }


/* Admin Navigation */
.section-admin-navigation
{ width: 230px; background: #f6f6f6; font-size: 16px; text-shadow:0 1px 1px #fff; }

.section-admin-navigation li{ 
    padding: 8px 5px 8px 17px; 
    margin: 0; 
    border-bottom: 1px solid #e3e3e3; 
    -moz-box-shadow: 0px 1px 0px #fff;
    -webkit-box-shadow:  0px 1px 0px #fff;
    box-shadow:  0px 1px 0px #fff; 
}

.section-admin-navigation li, .section-admin-navigation li a
{ display: block; }

.section-admin-navigation li:last-child
{ border-bottom: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.section-admin-navigation .nav-selected
{ font-weight: bold; background: #ebf2f3; font-weight: normal; }

.section-admin-navigation .nav-dashboard
{ font-weight: bold; color: #333; }

.section-admin-subnavigation 
{ background: #f6f6f6; }

.section-admin-subnavigation li
{ border: 0; font-size: 14px; padding: 5px 0 5px 25px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;  }

.section-admin-subnavigation li a
{ color: #696969; }


/* Student lecture filter */
.section-student-filter{ 
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e4e4',GradientType=0 ); /* IE6-9 */
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.60);
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    width: 710px;
    height: 100px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; 
    margin: 50px 0;
    display: block;
}

.section-student-filter label
{ font-size: 18px; font-weight: 600; display: block; margin-bottom: 10px; }

.section-student-filter ul
{ margin: 0; }

.section-student-filter li
{ display: inline-block; float: left; padding: 16px 0 25px 25px; margin: 0; }

.section-student-filter input
{ margin-top: 35px; padding: 6px 12px; }

.section-student-filter select
{ text-indent:5px; height:26px; border:0px solid #C1272D; }

.section-student-filter #student-year
{ width: 220px; }

.section-student-filter #student-subject
{ width: 263px; }


/* Student search */
.section-student-search{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e4e4',GradientType=0 ); /* IE6-9 */
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.60);
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    width: 710px;
    height: 54px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; 
    margin: 50px 0;
    display: block;
}

.section-student-search label
{ font-size: 18px; font-weight: bold; width: 180px; padding: 5px 0; }

.section-student-search #lecture-search
{ width: 405px; padding: 11px 10px 10px 40px; border: 1px solid #b0b0b0; border-right: 0; border-bottom: 0; background: #fff url('../img/ic_search.jpg') no-repeat 10px 7px; }

.section-student-search #lecture-search, .section-student-search label
{ display: inline-block; }

.section-student-search #lecture-search-submit
{ margin: 0; padding: 11px 15px 11px 15px; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;  margin-left: -3px; margin-bottom: -1px;  } 

.section-student-search form
{ padding: 8px 10px 9px 22px; }


/* Admin Heading */
.section-admin-heading
{ background: #f6f6f6; display: block; padding: 10px 20px; }

.section-admin-heading form
{ float: right; display: inline-block; }

.section-admin-heading input[type=text]
{ border: 1px solid #b0b0b0; border-right: none; border-bottom: 0; padding: 7px; float: left; }

.section-admin-heading input[type=submit]
{ width: 27px; height: 24px; display: block; height: 28px; float: right; }



/* Section admin event listings filter and search options */
.section-admin-event-listing
{ width: 685px; margin-bottom: 50px; margin-left: 10px; }

.section-admin-event-listing
{ background: #efefef; }



.section-admin-event-listing-content
{ padding: 10px 20px; overflow: auto; }

.section-admin-event-listing-content ul
{ display: block; margin: 0; }

.section-admin-event-listing-content ul li ul li
{ display: inline-block; min-width: 60px; margin: 0; position: relative; }

.section-admin-event-listing-content select, .section-admin-event-listing-content input
{ width: 140px; margin-right: 30px; height: 20px; }


.section-admin-event-listing-content input
{ border: 0; }

.section-admin-event-listing-content .edit-button
{ background: #fff; position: absolute; right: 26px; top: 0; padding-right: 2px; height: 19px; padding-top: 3px; }

.section-admin-event-listing-content input[type=text]
{ width: 115px; margin-right: 50px; } 

.section-admin-event-listing-content input[type=submit] 
{ width: 60px; margin-right: 0;  } 

/* Section event listing */
.section-event-listing
{ width: 100%; background: url('../img/background_table_heading.png') no-repeat left top; width: 705px;  }

.section-event-listing #export-options
{ width: 140px;}

.event-table-header
{ padding-top: 20px;  }

.event-table-header ul li
{ display:inline-block; margin-right: 10px; }

.event-table-header ul li:last-child
{ margin-right: 0; }

.section-event-listing table, .event-table-header
{ width: 670px; margin: 0 auto; position: relative; }

.event-table-header h4
{ width: 235px; text-align: center; }

.event-table-header .ic-calendar
{ position: absolute; right: 0; top: 20px; }


/* Tables */
.info-table th, .info-table td
{ padding: 8px 10px 0 0; text-align: left; vertical-align: text-top; font-weight: normal;  }

.info-table td
{ font-weight: bold;  }

.lecture-table th, .lecture-table td
{ font-weight: normal; padding: 8px 10px 0 0; text-align: left; vertical-align: text-top; }

.admin-table
{ border: 1px solid #dbdbdb; margin-top: 15px; }

.admin-table .ic-select-arrow
{ padding-right: 15px; }

.admin-table td, .admin-table th
{ padding: 10px; border: 1px solid #dbdbdb; text-align: left; border-bottom: none; border-top: none; }

.admin-table th
{ border: 1px solid #dbdbdb }

.admin-table tr:nth-child(odd)
{ background: #f7f7f7; }

.admin-table tr td:first-child 
{ background: #f6f6f6; }

.admin-table .admin-table-dark
{ background: #efefef !important; }

/* Icons */
.ic-calendar span
{ background: url('../img/ic_calendar.png') no-repeat 0 2px; padding: 2px 0 2px 25px; display: block; }

.ic-select, .ic-deselect
{ font-weight: bold; padding: 0 0 0 22px; display: inline-block; }

.ic-select
{ background: url('../img/ic_select.png') no-repeat; }

.ic-deselect
{ background: url('../img/ic_deselect.png') no-repeat; }

.ic-select-arrow
{ background: url('../img/ic_down.png') no-repeat center right; padding-right: 25px; }

.ic-remove
{ background: url('../img/ic_remove.png') no-repeat; display: inline-block; width: 16px; height: 16px; float: right; }

.ic-print, .ic-export
{ display: inline-block; margin: 0 7px; }

.ic-print
{ background: url('../img/ic_print.png') no-repeat; padding: 0 0 0 25px; }

.ic-export
{ background: url('../img/ic_export.png') no-repeat; padding: 0 0 0 30px;  }




/* Horizontal Line */
hr
{  border:#d9d9d9 1px dashed; border-style: none none dashed; margin: 0; clear: both; clear:both; }

strong
{ color: #8f2b8c; }

.float-right
{ float: right; }


.spacer2
{ margin: 20px 0; }
 
.spacer
{ height: 70px; }


/* Plugin Driven CSS */



/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
