{% load timetables_tags %}


<div class="{{classification_form_classes}}">
    <div class="section-admin-add-group classification-control-container">
    <fieldset>
    			<label>Select level</label>
    			<ul class="checkbox-select-container">
    				{% for level in organisation.classifications.levels %}
    				<li {% if level.parent %}class="classification-parent-{{ level.parent.id }}" style="display: none;" {% endif %}>
    					<input type="checkbox" id="classification-level-{{ level.id }}" name="org_levels" 
    						value="{{ level.id }}" 
    						{% if level in levels_selected %}checked="checked"{% endif %}
    						class="classification-control"/>
    					<label for="classification-level-{{ level.id }}">{{ level.value }}</label>
					</li>
    				{% endfor %}
    			</ul>
				<div class="validation_select_one_fieldset errormessage" >Please select at least one subject</div>
    </fieldset>
    <fieldset>
    			<label>Select {{ subject_name }}</label>
    			<ul class="checkbox-select-container">
    				{% for subject in organisation.classifications.subjects %}
    				
    				<li {% if subject.parent %}class="classification-parent-{{ subject.parent.id }}"  style="display: none;" {% endif %}>
    					<input type="checkbox" id="classification-subject-{{ subject.id }}" name="org_subjects" 
    						value="{{ subject.id }}" 
    						{% if subject in subjects_selected %}checked="checked"{% endif %}
    						class="classification-control"/>
    					<label for="classification-subject-{{ subject.id }}">{{ subject.value }}</label>
					</li>
    				{% endfor %}
    			</ul>
				<div class="validation_select_one_fieldset errormessage" >Please select at least one level</div>
    </fieldset>
    </div>
</div>

