<form class="{{classification_form_classes}}">
    <div class="section-admin-add-group classification-control-container">
    	<fieldset>
    			<label>Select level</label>
    			<ul class="checkbox-select-container">
    				{% for level in organisation.classifications.levels %}
    				<li {% if level.parent %}class="classification-parent-{{ level.parent.id }}" style="display: none;" {% endif %} >
    					<input type="radio" 
    					   id="classification-level-checkbox{{forloop.counter}}" 
    					    name="org_level" 
    						{% if level in levels_selected %}checked="checked"{% endif %}
    						class="classification-control"
    					    value="{{ level }}" />
    					<label for="classification-level-checkbox{{forloop.counter}}">{{ level }}</label>
					</li>
    				{% endfor %}
    			</ul>
    	</fieldset>
    	<fieldset>
    			<label>Select Classification</label>
    			<ul class="checkbox-select-container">
    				{% for subject in organisation.classifications.subjects %}
    				<li {% if subject.parent %}class="classification-parent-{{ level.parent.id }}" style="display: none;" {% endif %}>
    					<input type="radio" id="classification-subject-checkbox{{forloop.counter}}" 
    						name="org_subject" 
    						{% if level in levels_selected %}checked="checked"{% endif %}
    						class="classification-control"
    						value="{{ subject }}" />
    					<label for="classification-subject-checkbox{{forloop.counter}}">{{ subject }}</label>
					</li>
    				{% endfor %}
    			</ul>
    	</fieldset>
    </div>
</form>