<div id="date-dialog" title="" class="admin-dialog">
    <form>
        <input type="hidden" name="term" value="" />
        <h2 style="display: none" class="date-dialog-title">Days &amp; Times</h2>
        
        
	<div class="date-dialog-fragment" >
	   <div class="date-dialog-fragment-header" style="display: none">
	   <!--  only shown if there is more than one  -->
        <fieldset class="dates-edit">
          <div>
        	<span class="date-editor-n">1.</span><span class="date-editor-pattern"> </span>
            <a href="javascript:void(0)">Edit</a>
          </div>
        </fieldset>
	   </div>
	</div>
	   <div class="date-dialog-fragment-editor" >
        <fieldset>
            <h3>Select Days &amp; Times</h3>
        </fieldset>
        <fieldset class="date-time">
        
            <section class="days">
                <h4>Days</h4>
                <ul class="list-horizontal">
                    <li><label><input name="day" value="M" type="checkbox"> Monday</label></li>
                    <li><label><input name="day" value="Th" type="checkbox"> Thursday</label></li>
                    <li><label><input name="day" value="Su" type="checkbox"> Sunday</label></li>
                </ul>
                
                <ul class="list-horizontal">
                    <li><label><input name="day" value="Tu" type="checkbox"> Tuesday</label></li>
                    <li><label><input name="day" value="F" type="checkbox"> Friday</label></li>
                </ul>
                
                <ul class="list-horizontal">
                    <li><label><input name="day" value="W" type="checkbox"> Wednesday</label></li>
                    <li><label><input name="day" value="Sa" type="checkbox"> Saturday</label></li>
                </ul>
                
                
            </section>
            <section class="time">
                <h4>Time</h4>
                <select name="from-hour">
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                </select>
                <select name="from-minute">
                    <option value="00" >00</option>
                    <option value="05" >05</option>
                    <option value="10" >10</option>
                    <option value="15" >15</option>
                    <option value="20" >20</option>
                    <option value="25" >25</option>
                    <option value="30" >30</option>
                    <option value="35" >35</option>
                    <option value="40" >40</option>
                    <option value="45" >45</option>
                    <option value="50" >50</option>
                    <option value="55" >55</option>
                </select>
                to
                <select name="to-hour">
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                </select>
                <select name="to-minute">
                    <option value="00" >00</option>
                    <option value="05" >05</option>
                    <option value="10" >10</option>
                    <option value="15" >15</option>
                    <option value="20" >20</option>
                    <option value="25" >25</option>
                    <option value="30" >30</option>
                    <option value="35" >35</option>
                    <option value="40" >40</option>
                    <option value="45" >45</option>
                    <option value="50" >50</option>
                    <option value="55" >55</option>
                </select>
            </section>
        </fieldset>
        
        <fieldset>
            <h3>Select Date Range</h3>
            <section class="date-range radio-btn-tab-group">
                <ul class="nav-tabs">
                    <li class="radio-btn-tab">
                        <label><input type="radio" name="date-range-type" value="repetitions" tab-content="repetitions-content" checked="checked"> Repetitions</label>
                    </li>
                    <li class="radio-btn-tab">
                        <label><input type="radio" name="date-range-type" value="weeks" tab-content="weeks-content"> Weeks</label>
                    </li>
                </ul>
                
                <div class="radio-btn-tab-content repetitions-content" style="display: block;">
                    <ul class="list-horizontal block-label">
                        <li>
                            <label>Number of Repetitions</label>
                            <input type="text" name="repetitions" value="" />
                        </li>
                    </ul>
                </div>
                
                <div class="radio-btn-tab-content weeks-content" style="display: none;">
                    <ul class="list-horizontal block-label">
                        <li>
                            <label>From</label>
                            <input type="text" name="weeks-from" value="" />
                        </li>
                        <li>
                            <label>To</label>
                            <input type="text" name="weeks-to" value="" />
                        </li>
                    </ul>
                </div>
                
            </section>
        </fieldset>
        
        <fieldset>
            <h3>Select Frequency</h3>
            <section class="frequency">
                <ul>
                    <li><label><input type="radio" name="frequency" value="weekly"/> Weekly pattern</label></li>
                    <li><label><input type="radio" name="frequency" value="bi-weekly"/> Fortnightly pattern</label></li>
                </ul>
            </section>
        </fieldset>
	   </div>
        
        
        <div class="error-message">Failed to generate Date pattern ,please try again.</div>
    
        <ul class="nav-horizontal nav-right">
            <li class="left"><a href="javascript:void(0)" class="btn-medium btn-type1 add-dialog">Add Another Pattern</a></li>
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><a href="javascript:void(0)" class="btn-medium btn-type1 save-dialog">Continue</a></li>
        </ul>
    </form>
</div>