        <input type="hidden" id="classification-name-original" name="classification-name-original" value="{{ classification_name }}" />
        <input type="hidden" id="classification-id" name="classification-id" value="{{ classification_id }}" />
    

        <ul class="block-label list-vertical">
    		<li class="float-right">
                <label>Delete Classification</label>
                <input type="checkbox" value="1" name="delete-classification" />
			</li>
            <li>
                <label>Classification Name</label>
                <input type="text" id="classification-name" name="classification-name" value="{{ classification_name }}" />
                <div class="validation_classification_name errormessage">Classification name must be unique and not empty</div>
            </li>
        </ul>

        <ul class="block-label list-horizontal">

          <li>
			<div class="{{classification_form_classes}}">
			    <div class="section-admin-add-group classification-control-container">
			        <ul> 
			            <li>
			                <label>Select level</label>
			                <select name="org_level" class="classification-selector">
			                    {% for level in organisation.classifications.levels %}
			                    <option id="classification-level-{{ level.id }}" 
			                    value="{{ level.id }}" 
			                    {% if level.parent %}
			                       parent="{{ level.parent.id }}"
			                       disabled="disabled"
			                    {% endif %}
			                    {% if level in levels_selected %}selected="selected"{% endif %} >
			                    {{ level.value }}</option>
			                    {% endfor %}
			                </select>
			                <div class="validation_not_empty errormessage" >Please select a level</div>
			            </li>
			        </ul>
			    </div>
			</div>
          </li>
        </ul>
        
        <ul class="block-label list-horizontal">
            <li>
                <label>Contact <span class="optional-label">(Optional)</span></label>
                <input type="text" name="classification-contact" value="{{ classification_contact }}" />
            </li>
            <li>
                <label>Website <span class="optional-label">(Optional)</span></label>
                <input type="text" name="classification-website" value="{{ classification_website }}" />
            </li>
        </ul>
        
        <ul class="block-label list-horizontal">
            <li>
                <label>Classification Description <span class="optional-label">(Optional)</span></label>
                <textarea name="classification-description" value="">{{ classification_description }}</textarea>
            </li>
        </ul>
