<div class="add-events-form add-events-url-form section-admin-content-group group_url_container_marker" >
    <ul>
        <li>
            <label>Enter URL for external timetable</label>
            <a href="javascript:void(0)" class="btn-delete ic-delete" >Delete</a>
            <!--  ID of this group -->
        	<input class="group-id-marker" type="hidden" name="external_url_group" value="{{ group_id }}" />
            <!--  when the group is deleted, this gets set to 1 and the surrounding div gets hidden -->
        	<input class="deleted-group-marker" type="hidden" name="external_url_deleted" value="0" />
        	<input type="hidden" name="external_url_new" value="{% if new_group %}1{% else %}0{% endif %}" />
        </li>
        <li>
        	<div>
	            <input class="col2" name="external_url" value="{{ external_url }}" maxlength="512" />
	            <a href="javascript:void(0)" class="show-group-description ic-add">Description</a>
        	</div>
        	<div class="validation_not_empty errormessage">URL for external timetable may not be empty</div>
        </li>
    </ul>
    
    <hr/>
    
    <textarea class="group-description" name="external_url_desc" style="display: none;">{{ group.description|default:default_group_desc }}</textarea>
    
    
</div>
