       <tr class="series">
           
           <td>
	           <input name="series_{{ group_id }}" value="{{ series.id }}" type="hidden" class="series_id_marker" />
	           <input class="deleted-series-marker" type="hidden" name="series_deleted_{{ series.id }}" value="0" />
        	   <input type="hidden" name="series_new_{{ series.id }}" value="0" />
	           <input name="series_title_{{ series.id }}" value="{{ series.get_title }}" maxlength="512" />
           </td>
           <td>
           		<input name="series_lecturer_{{ series.id }}" value="{{ series.get_staff_as_string }}"  maxlength="512"  />
		        <div class="validation_not_empty errormessage" default-scope="group_container_marker" >Please specify the lecturer</div>
           </td>
           <td>
           		<input name="series_location_{{ series.id }}" value="{{ series.get_location }}"  maxlength="512" />
		       <div class="validation_not_empty_if_no_default errormessage" 
		              default-scope="group_container_marker"
		              default-name="default-location_{{ group_id }}" >Please supply a location or add a default</div>
           </td>
           <td>
               <span class="dateHolder">
                   <input name="series_date_{{ series.id }}" value="{{ series.get_date }}"  maxlength="256"  class="series_pattern_marker" />
                   <a href="javascript:void(0)" class="ic-import-date"></a>
               </span>
	           <div class="validation_date_pattern_message_if_no_default errormessage" 
	                default-scope="group_container_marker"
	                default-name="default-date-time-pattern_{{ group_id }}"  >Invalid Date Pattern</div>
           </td>
           <td class="action-cel">
               <a class="btn-view" href="javascript:void(0)">View</a>
               <a href="javascript:void(0)" class="control-series-button ic-add"></a>
           </td>
      </tr>
