       <tr class="series">
           <td>
            <input name="series_{{ group_id }}" value="{{ series_add_id }}" type="hidden" />
	        <input class="deleted-series-marker" type="hidden" name="series_deleted_{{ series_add_id }}" value="0" />
        	<input type="hidden" name="series_new_{{ series_add_id }}" value="1" />
           	<input name="series_title_{{ series_add_id }}" value="{{ default_series_series_title }}" maxlength="512" /></td>
           <td>
           	   <input name="series_lecturer_{{ series_add_id }}" value="{{ default_series_series_lecturer }}" maxlength="512"/>
		       <div class="validation_not_empty errormessage" default-scope="group_container_marker" >Please specify the lecturer</div>
           </td>
           <td>
	           <input name="series_location_{{ series_add_id }}" value="{{ default_series_series_location }}" maxlength="512"/>
		       <div class="validation_not_empty_if_no_default errormessage" 
		              default-scope="group_container_marker"
		              default-name="default-location_{{ group_id }}" >Please supply a location or add a default</div>
           </td>
           <td>
               <span class="dateHolder">
                   <input name="series_date_{{ series_add_id }}" value="{{ default_series_series_date }}" maxlength="256"  class="series_pattern_marker" >
                   <a href="javascript:void(0)" class="ic-import-date"></a>
               </span>
	           <div class="validation_date_pattern_message_if_no_default errormessage" 
	                default-scope="group_container_marker"
	                default-name="default-date-time-pattern_{{ group_id }}"  >Invalid Date Pattern</div>
           </td>
           <td class="action-cel">
               <a class="btn-view" href="javascript:void(0)">View</a>
               <a href="javascript:void(0)" class="control-series-button ic-add"></a>
           </td>
           <td class="event" style="display: none;" colspan="5">
               <!--  placeholder for events -->
           </td>
    </tr>
