{# ============================================================================================= #}
{# Error Dialog: No post #}
{# ============================================================================================= #}

<div id="error-dialog" title="" class="admin-dialog">
        <h3>Ooops</h3>

        <p id="error-dialog-message">About to export</p>

        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Got it</a></li>
        </ul>
    </form>
</div>