<tr class="event" >
  <td colspan="5">
	<table>
	  {% for event in events %}
	    <tr>
	   <!-- 
	        <td class="ic-checkboxcell">
	          <input type="checkbox" name="event-selected" value="{{ event.id }}"/>
	        </td>
	   -->
	        <td>
	        <input type="hidden" name="event_{{ series_id }}" value="{{ event.id }}"/>
	        <input name="event-title_{{ series_id }}" value="{{ event.get_title }}"  maxlength="512" /></td>
	        <td><input name="event-lecturer_{{ series_id }}" value="{% for s in event.get_staff %}{{ s.username }};{% endfor %}"  maxlength="512"  /></td>
	        <td><input name="event-location_{{ series_id }}" value="{{ event.get_location }}" maxlength="512" /></td>
	        <td>
	        <input name="event-date_{{ series_add_id }}" value="{{ event.default_timeslot }}" maxlength="256" />
	        </td>
	    </tr>
	   {% endfor %}
	   <!-- 
	   While you cant edit the events, there is no point in allowing combine, it will do nothing.
	   <tr><td class="combine" colspan="5"><a class="btn-type1 btn-medium btn-left" href="javascript:void(0)">Combine</a><a href="javascript:void(0)" class="combine-help popup-help-control ic-help"></a></td></tr>
	    -->
	</table>
  </td>
</tr>
	