{# Required to use variables in url tags. #}
{% load url from future %}

<nav class="nav-horizontal nav-pagination">
    <ul>
    {% for link in pagination %}
        <li class="{{ link.type }}{% if link.is_current_page %} current{% endif %}">
        {% if link.type == "skip" %}
            ...
        {% else %}
            <a href="{% url "TODO" %}?offset={{ link.offset|urlencode }}">
                {{ link.text }}
            </a>
        {% endif %}
        </li>
    {% endfor%}
    </ul>
</nav>