<div class="admin-dialog" style="display: none;">
    <div class="admin-dialog-heading">
        <h3>Events have been saved</h3>
    </div>
    <div class="admin-dialog-content">
        <a href="javascript:void(0)">See in student view</a>
    </div>
</div>

<div class="admin-dialog error" style="display: none;">
    <div class="admin-dialog-heading">
        <h3>There is a problem with the details you have entered</h3>
    </div>
    <div class="admin-dialog-content">
        <ul>
            <li>Error message</li>
        </ul>
    </div>
</div>