{# ============================================================================================= #}
{# Error List: No post #}
{# ============================================================================================= #}

{% if updated_events or deleted_events %}
<div title="" class="after_post_notification admin-dialog" style="display:none" >
      <h3>Events Changed</h3>
      <p>
      {% if updated_events %}
        
        {{ updated_events }} event {% if updated_events == "1" %}was{% else %}were{% endif %} created
      	{% if deleted_events %} and {% endif %}
      {% endif %}
      {% if deleted_events %}
        {{ deleted_events }} event {% if deleted_events == "1" %}was{% else %}were{% endif %} deleted
      {% endif %}
      </p>
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Close</a></li>
        </ul>
    </form>
</div>
{% endif %}
