{% load staticfiles %}

<p class="search-query">
	<span>Now showing results for:</span> {{ page.results_source }}
</p>
<h2 class="search-count">{{ page.result_count }} results</h2>
<div class="tabs-wrapper">
	<ul class="tabs">
	{% for tab in page.result_tabs.values %}
		<li class="tab" data-term-name="{{ tab.name }}">
			<a href="javascript:void(0);">{{ tab.display_name }} ({{ tab.count }})</a>
		</li>
	{% endfor %}
	</ul>
</div>
<div class="results-wrapper">

	<div class="results-intro">
		<p>
			Build your timetable by clicking 'Add' next to a lecture
		</p>
		<div>
			<label for="results-sort-select">Sort by</label>
			<select id="results-sort-select">
				<option selected="selected">A-Z</option>
				<option>Event type</option>
				<option>Lecturer</option>
				<option>Start date</option>
			</select>
		</div>
	</div>
	<div class="results-label-legend">
		<ul>
			<li class="results-label-practical">
				Practical
			</li>
			<li class="results-label-fieldCourse">
				Field Course
			</li>
			<li class="results-label-laboratory">
				Laboratory
			</li>
			<li class="results-label-lectureSeries">
				Lecture/series
			</li>
		</ul>
		<a href="javascript:void(0)" id="add-all-lectures">Add all lectures</a>
	</div>

	<div class="result-list-animator">
	<ul class="results-list">
	{% for groupusage in page.groups %}
	{% with group=groupusage.group %}
		<li>
			<div class="result-head">
				<h3 
				{% if group.event_type.name == "practical" %}
					class="result-practical"
				{% elif group.event_type.name == "fieldCourse" %}
					class="result-fieldCourse"
				{% elif group.event_type.name == "laboratory" %}
					class="result-laboratory"
				{% elif group.event_type.name == "lecture" %}
					class="result-lectureSeries"
				{% endif %}
				>
					{{ group.name }}
					{% if user.isAdmin %} 
					<a href=#>Edit</a>
					{% endif %}
				</h3>
				<a href="javascript:void(0)" class="btn-small btn-type3 ic-calendar group-lectures add">
					<span>Add ({{ group.series|length }})</span>
					<input type="hidden" class="id_groupusage" value="{{ groupusage.id }}" />
				</a>
			</div>
			<div class="result-content">

				<table>
					<tbody>
						<tr>
							<th>Day/Time</th>
							<td>{{ group.default_pattern }}</td>
						</tr>
						<tr>
							<th>Dept/Faculty</th>
							<td>{{ groupusage.organisation.name }}</td>
						</tr>
						<tr>
							<th>Tripos</th>
							<td>{% for level in groupusage.levels %}{{ level.value }}{% endfor %}</td>
						</tr>
						<tr>
							<th>Subject</th>
							<td>
								{% for subject in groupusage.subjects %}
								<a href="" class="show_metadata"><input type="hidden" value="{{ subject.id }}" class="id_subject" />
								{{ subject.value }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
							</td>
						</tr>
						<tr>
							<th>Event type</th>
							<td>{{ group.event_type.name }}</td>
						</tr>
						<tr>
							<th>Lecturer</th>
							<td>{% for lecturer in group.lecturers %}{{ lecturer.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
						</tr>
						<tr>
							<th>Location</th>
							<td>{{ group.location.name }}</td>
						</tr>
					</tbody>
				</table>

				<div class="result-info">
					<p>
						{{ group.description|default:"No description." }}
					</p>
					<div class="section-expandcollapse">
						<a class="btn-type4 ic-up" href="javascript:void(0)">{{ group.series|length }} 
							lecture{{ group.series|length|pluralize }}</a>
						<ul class="series-list" id="series-list-{{ groupusage.id }}">
						{% for series in group.series %}
							<li>
								<h4>{{ series.title }}</h4>
								<a href="javascript:void(0)" class="btn-small btn-type3 ic-calendar series-lectures add">
									<span>Add</span>
									<input type="hidden" class="id_groupusage" value="{{ groupusage.id }}" />
									<input type="hidden" class="id_eventseries" value="{{ series.id }}" />
								</a>

								<hr>

								<table class="lecture-table">
									<tbody>
										<tr>
											<th>Day/Time</th>
											<td>{{ series.date_time_pattern }}</td>
										</tr>
										<tr>
											<th>Lecturer</th>
											<td>{% for lecturer in series.lecturers %}{{ lecturer.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
										</tr>
										<tr>
											<th>Location</th>
											<td>{{ series.location }}</td>
										</tr>
									</tbody>
								</table>
							</li>
						{% endfor %}
						</ul>

					</div>
				</div>

			</div>
		</li>
	{% endwith %}
	{% endfor %}
	</ul>
	</div>
	<div class="section-showmore">
		<a href="javascript:void(0)" class="btn-type4">
			Show more results
		</a>
		<p class="error" style="display: none;">
			Couldn't fetch results, click to try again.
		</p>
	</div>
</div>
