<div id="lecture">
    <div id="header">
        <ul class="nav-horizontal">
           <li><div class="ic-practical"></div></li>
           <li><h3>{{ lecture.title }}</h3></li>
           <li><a class="btn-small btn-type3 ic-calendar" href="javascript:void(0)"><span>Add</span></a></li>
        </ul>
    </div>
    <div id="content">
        <div id="left">
            <table>
                <tr>
                    <th>Day/Time</th>
                    <td>{{ lecture.day }} {{ lecture.time }}</td>
                </tr>
                <tr>
                    <th>Dept/Faculty</th>
                    <td>{{ lecture.faculty }}</td>
                </tr>
                <tr>
                    <th>Tripos</th>
                    <td>{{ lecture.tripos }}</td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>{{ lecture.subject }}</td>
                </tr>
                <tr>
                    <th>Paper</th>
                    <td>{{ lecture.paper }}</td>
                </tr>
                <tr>
                    <th>Event Type</th>
                    <td>{{ lecture.eventtype }}</td>
                </tr>
                <tr>
                    <th>Lecturer</th>
                    <td>{{ lecture.lecturer }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ lecture.location }}</td>
                </tr>
            </table>
        </div>
        <div id="right">
            <div id="description">{{ lecture.description }}</div>
             <div id="lectures" class="section-expandcollapse">
                <a href="javascript:void(0)" class="btn-type4 ic-up">3 lectures</a>
                <ul style="display: none;">
                    <li>
                        <h4>Lecture name</h4>
                        <a class="btn-small btn-type3 ic-calendar" href="javascript:void(0)"><span>Add</span></a>
                        
                        <hr>
                        
                        <table class="lecture-table">
                            <tbody><tr>
                                <th>Day/Time</th>
                                <td>MF 9</td>
                            </tr>
                            <tr>
                                <th>Lecturer</th>
                                <td>Dr. A. Webb</td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>Main Lecture Theatre</td>
                            </tr>
                        </tbody></table>
                    </li>
                    <li>
                        <h4>Lecture name</h4>
                        <a class="btn-small btn-type3 ic-calendar" href="javascript:void(0)"><span>Add</span></a>
                        
                        <hr>
                        
                        <table class="lecture-table">
                            <tbody><tr>
                                <th>Day/Time</th>
                                <td>MF 9</td>
                            </tr>
                            <tr>
                                <th>Lecturer</th>
                                <td>Dr. A. Webb</td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>Main Lecture Theatre</td>
                            </tr>
                        </tbody></table>
                    </li>
                    <li>
                        <h4>Lecture name</h4>
                        <a class="btn-small btn-type3 ic-calendar" href="javascript:void(0)"><span>Add</span></a>
                        <hr>
                        <table class="lecture-table">
                            <tbody><tr>
                                <th>Day/Time</th>
                                <td>MF 9</td>
                            </tr>
                            <tr>
                                <th>Lecturer</th>
                                <td>Dr. A. Webb</td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>Main Lecture Theatre</td>
                            </tr>
                        </tbody></table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
