<ul class="lecture-data">

{% for series in event_series %}
<li class="{{ series.term_info|lower }}">{# open to a better suggestion on how to do this #}
    <h4>{{ series.name }}</h4>
    <a href="javascript:void(0)" class="ic-remove">
    	<input type="hidden" class="id_groupusage" value="{{ series.id_groupusage }}" />
    	<input type="hidden" class="id_eventseries" value="{{ series.id_eventseries }}" />
    </a>
    <hr>
    
    <div class="lecture-data-description">
    	<p>
    	{% if series.description %}
    		{{ series.description }}
    	{% else %}
    		No description available.
    	{% endif %}
    	</p>
    </div>
    
    <div class="lecture-data-info">
        <table class="info-table">
            <tbody><tr>
                <th>Day/Time</th>
                <td>{{ series.day_time }}</td>
            </tr>
            <tr>
                <th>{{ series.subjects_name }}</th>
                <td>{% for subject in series.subjects %}
                <a href="" class="show_metadata"><input type="hidden" value="{{ subject.id }}" class="id_subject" />{{ subject.value }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}</td>
            </tr>
            <tr>
                <th>Lecturer</th>
                <td>{% for lecturer in series.lecturers %}{{ lecturer.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ series.location }}</td>
            </tr>
        </tbody></table>
    </div>
</li>
{% endfor %}

</ul>