{% for series in event_series %}
<div class="section-personalisedtimetable-dialog new">
    <h3>Event {{ action_text }} your timetable</h3>
    <hr><strong>{{ series.title }}</strong>
    <table class="info-table">
    	<tbody>
    		<tr>
    			<th>Day/Time</th>
    			<td>{{ series.date_time_pattern }}</td>
    		</tr>
    		<tr>
    			<th>Lecturer</th>
    			<td>{% for lecturer in series.lecturers %}{{ lecturer.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    		</tr>
    		<tr>
    			<th>Location</th>
    			<td>{{ series.location }}</td>
    		</tr>
    	</tbody>
    </table>
</div>
{% endfor %}
