<table>
    <tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr>
    <tr>
        {% for day in events %}
            {% if day.events %}     
                <td class="occupied">{{ day.date }}</td>
             {% else %} 
                <td class="available">{{ day.date }}</td>        
            {% endif %}
        </td>    
        {% if day.date == 7 or day.date == 14 or day.date == 21 or day.date == 28 %}
    </tr><tr>
        {% endif %}
        {% endfor %}
    </tr>
</table>
