<div id="title" class="content-container">Lecture List</div>
<form id="student-select-year">	
    
    <select id="select-date" class="select-date-student">
    {% for year in years %}
        <option value="{{ year.url_id }}" {% if year.id == page_year.id %}selected="selected"{% endif %} >{{ year.name }}</option>
    {% endfor %}
    </select>
    
    <input type="hidden" id="select-date-initial" value="{{ page_year.url_id }}" />
    
    <!-- 
    <div id="select-date-skin" class="select-date-skin">
	    {% for year in years %}
	        {% if year.id == page_year.id %}
	        	{{ year.name }}
	        {% endif %}
	    {% endfor %}
        <span class="ic-select-arrow"></span>
    </div>
     -->

</form>