{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "css/student.css" %}">
<link rel="stylesheet" href="{% static "css/error.css" %}">
{% endblock head %}

{% block title-area %}
{% endblock %}

{% block content %}

<div id="errorWrapper">
	{% block error-explanation %}
	{% endblock error-explanation %}
	
	<div id="error-content">
		{% block error-content %}
		{% endblock error-content %}
	</div>
</div>

{% endblock content %}
