<div class="classifier-group-controls">
    <label>{{ name }}</label>
    {% if(type !== "level") { %}
        (
        <a href="javascript:void(0)" class="edit">edit</a>
        {% if(type !== "custom") { %} ) {% } %}
    {% } %}
    {% if(type === "custom") { %}
        |
        <a href="javascript:void(0)" class="delete">delete</a>
        )
    {% } %}
</div>
<div class="box">
<table class="classifiers"></table>
<p class="when-empty help-msg">
    Click the <em>Add new</em> button below to add classifications to this group.
</p>
</div>
<button class="add-new btn-type1 btn-small">Add new</button>
