<ul class="block-label additional-width">
    <li data-name="faculty_name">
    </li>
    <li data-name="faculty_code">
        <!-- <label>Code</label>
        <p class="hint">This code is short form of the name. It's used in URLs.</p>
        <input type="text" name="faculty_code" value="" />
        <span class="uniqueness"></span> -->
    </li>
    <li data-name="year">
        <!-- <label>Year</label>
        <p class="hint">The academic year this Faculty exists under.</p>
        <select class="year-select"></select> -->
    </li>
</ul>
<hr />
<!-- 
<div id="faculty-admin">
    <ul class="block-label list-horizontal">
        <li>
            <h3>Faculty Administrators</h3>
        </li>
        <a href="/TODO" class="btn-type1 btn-medium float-right">
            Add New Administrator
        </a>
    </ul>
    <div class="empty-container">
        <p>Administrators can be associated with Faculties once the Faculty has been created.</p>
        <p>Add or edit an Administrator to associate them with a Faculty.</p>
    </div>
</div>
 -->
<div id="timetable-for-faculty">
    <ul class="block-label list-horizontal">
        <li>
            <h3>Timetables for this faculty</h3>
        </li>
        <a href="javascript:void(0)" 
           id="add-classification-group-button" 
           class="btn-type1 btn-medium float-right">
           Add New Classification Group
        </a>
    </ul>
    <div id="classifier-groups" class="clear-self">
    </div>
</div>
<ul class="nav-horizontal nav-right">
    <!-- <li>
        <a class="cancel" href="javascript:void(0)">Cancel</a>
    </li>
    <li>
        {% if(is_submitting) { %}
        <button class="save btn-type1 btn-medium btn-inactive">
            <span class="state-loading">
                Creating Faculty
                <img style="margin-left: 6px" src="/static/img/spinner-teal.gif">
            </span>
        </button>
        {% } else if(synched) { %}
        <button class="save btn-type1 btn-medium">
            <span class="state-idle">Create Faculty</span>
        </button>
        {% } else { %}
        <button class="save btn-type1 btn-medium btn-inactive">
            <span class="state-idle">Create Faculty</span>
        </button>
        {% } %}
        
    </li> -->
</ul>