<h3>{{ dialogTitle }}</h3>
<ul class="block-label">
    <li></li>
</ul>
<ul class="nav-horizontal nav-right dialog-menu">
    <li><button class="cancel btn-medium btn-type2">Cancel</button></li>
    <li><button class="save btn-medium btn-type1">Save</button></li>
</ul>
