section.title-area input {
	border: none;
	color: #fff;
	border-radius: 0px;
	background: #333;
	font-size: 28px;
	font-family: Georgia;
	width: 110px;
}
section.title-area div.wide input {
	width: 400px;
}
section.title-area button {
	border: none;
	background: url("/static/img/ic_down.png") no-repeat scroll center center transparent;
}