/**********
 *
 * Body - puple line at top; may need tweaking
 *
 **********/
body {
	background: url( '../images/student-purple.png' ) scroll repeat-x left 150px transparent;
}


/***********
 * 
 * 
 * LECTURE LIST PAGE (= student home)
 * 
 * 
 ***********/

section.title-area div.content-container {
	overflow: hidden;
}

#title {
	font-family: Georgia;
	font-size: 28px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	width: auto;
	float: left;
}

form#student-select-year {
	float: left;
	position: relative;
	margin-left: 15px;
}

form#student-select-year select, form#student-select-year div {
	position: inherit;
	float: none;
}

form#student-select-year div {
	color: #0cb3c3;
	position: absolute;
	top: 0;
	right: 0;
}

form#student-select-year input {
	border: none;
	color: #0CB3C3;
	border-radius: 0px;
	background: #333;
	font-size: 28px;
	font-family: Georgia;
	width: 110px;
}
form#student-select-year button {
	border: none;
	background: url("/static/img/ic_down.png") no-repeat scroll center center transparent;
}
div.faculty-facet input.ui-autocomplete-input {
	border: 1px solid #e0e0e0;
	color: #333;
	border-radius: 0px;
	background: #e0e0e0;
	font-size: 1em;
	font-family: sans-serif;
	width: 160px;
}
div.faculty-facet button {
	border: none;
	border-radius: 0px;
	background: url("/static/img/ic_down.png") no-repeat scroll center center #e0e0e0;
}

#lecture-list-wrapper>p {
	font-family: Georgia;
	font-size: 17px;
	
	padding: 8px 52px 17px 10px;
	
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #DADADA;
}

#lecture-list-wrapper {
	position: relative;
}

#lecture-list-wrapper, #browse-results-wrapper {
	overflow: hidden;	
}

#lecture-list-wrapper .section-student-search {
	margin: 25px 0;
}

#lecture-list-wrapper table#lecture-list td {
	padding-bottom: 16px;
	padding-top: 16px;
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e1e1e1;
	
	width: 320px;
}

#lecture-list-wrapper table#lecture-list td:nth-child(odd)
{
	border-right-width: 23px;
	border-right-style: solid;
	border-right-color: #fff;
}

#lecture-list-wrapper>h2 {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #DADADA;
	
	font-size: 18px;
	
	padding-bottom: 22px;
}

#lecture-list-wrapper #university-term-times h2 {
	font-family: Georgia;
	font-weight: normal;
	font-size: 25px;
	padding-bottom: 13px;
}


 /* login infobox (visible on lecture list page when user is nog logged in) */

#login-infobox {
	position:absolute;
	right: 0;
	top: 90px;
	padding: 16px;
	
	width: 200px;
	
	background-color: #f5f4f5;
	background-image: url(../images/dropdown.png);
	background-repeat: no-repeat;
	
	z-index: 100;
}

#login-infobox h2 {
	font-size: 16px;
	text-align: center;
}

#login-infobox div {
	border-top-style: dashed;
	border-top-width: 1px;
	border-top-color: #DADADA;
	
	margin-top: 17px;
}

#login-infobox div>p {
	font-weight: bold;
	font-size: 13px;
	padding: 0 5px;
}

#login-infobox div ul li {
	color: #8f2b8d;
	
	padding-top: 15px;
	
	border-top-style: dashed;
	border-top-width: 1px;
	border-top-color: #DADADA;
	
	background-image: url(../images/loginbox-1-icon.png);
	background-repeat: no-repeat;
	background-position: left 15px;
	padding-left: 40px;
}

#login-infobox div ul li h3 {
	font-size: 13px;
}

#login-infobox div ul li p {
	margin-top: 3px; 
}

#login-infobox div ul li:nth-child(2)
{
	background-image: url(../images/loginbox-2-icon.png);
}

#login-infobox div ul li:nth-child(3)
{
	background-image: url(../images/loginbox-3-icon.png);
}

#login-infobox div ul li h3 {
	color: #8f2b8d;
}

/* hiding timetable dialogs as default */
.section-personalisedtimetable-dialog {
	display: none;
}

.section-personalisedtimetable-view {
	display: none;
}

/* university terms table */

#university-term-times table thead th {
	padding: 10px 15px;
}

#university-term-times table tbody tr:first-child
{
	height: 47px;
	border-top-style: solid;
	border-top-color: #dfddde;
	border-top-width: 1px;
}

#university-term-times table tbody tr td {
	border-left-style: solid;
	border-left-color: #dfddde;
	border-left-width: 1px;
	
	border-right-style: solid;
	border-right-color: #dfddde;
	border-right-width: 1px;
	
	width: 50px;
	padding: 10px;
}

#university-term-times table tbody tr td:first-child {
	width: 104px;
	border-style: none;
	text-align: center;
}

#university-term-times table tbody tr td:last-child
{
	border-style: none;
}

#university-term-times table td.odd-term-span, #university-term-times table th.odd-term-span
{
	background-color: #f8f8f8;
}

#university-term-times table tbody tr:nth-child(even) td.odd-term-span
{
	background-color: #f0f0f0;
}

#university-term-times table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}


/***********
 * 
 * 
 * BROWSE RESULTS PAGE + (SEARCH RESULTS PAGE)
 * 
 * 
 ***********/


.facets {
	width: 230px;
	float: left;
	overflow: hidden;
	margin-top: 45px;
}

.facets #student-navigation {
	margin-bottom: 15px;
	background-image: url(../images/back-to-home-arrow.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 14px;
}

.facets #search-input {
	width: 124px;
	padding: 3px;
}

.facets #search-submit {
	padding-top: 5px;
	padding-bottom: 5px;
}

.facets div.faculty-facet {
	background-color: #f6f6f6;
	padding: 18px;
}

.facets div.faculty-facet p {
	font-family: Georgia;
	font-size: 15px;
}


#results {
	float: right;
	margin-top: 45px;
	width: 20px;
	width: 705px;
}

#results.results-not-loggedin {
	padding-top: 45px;
}

#results p.search-query {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #dbdbdb;
	
	padding: 0 18px 20px 18px;
	margin-left: 33px;
}

#results p.search-query span {
	font-weight: bold;
}

#results h2.search-count{
	color: #8f2b8d;
	padding-left: 50px;
}

#results div.tabs-wrapper {
	overflow: hidden;
}

#results ul.tabs {
	border-bottom-style: solid;
	border-bottom-color: #dbdbdb;
	border-bottom-width: 1px;
	
	height: 56px;
}

#results ul.tabs li {
	float: left;
	height: 46px;
	overflow: hidden;
	width: 156px;
	
	line-height: 4em;
	
	cursor: pointer;
	
	font-weight: bold;
	
	text-align: center;
	
	border-radius: 4px 4px 0 0;
	
	margin-right: 13px;
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dbdbdb;
	
	background-color: #eaf2f4;
	
	color: #0cb3c3;
}

#results ul.tabs li.selected {
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb;
	border-bottom-style: none;
	
	color: #8f2b8d;
	background-color: #ffffff;
}

#results ul.tabs li:first-child {
	margin-left: 32px;
}

#results div.results-wrapper {
	width: 661px;
	margin-left: auto;
	margin-right: auto;
}

#results div.results-wrapper div.results-intro {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #d9d9d9;
	
	overflow: hidden;
}

#results div.results-wrapper div.results-intro p {
	font-weight: bold;
	color: #5c5c5c;
	float: left;
}

#results div.results-wrapper div.results-intro div {
	float: right;
	padding-top: 12px;
}

#results div.results-wrapper div.results-intro div label {
	margin-right: 4px;
}

#results div.results-wrapper div.results-label-legend {
	overflow: hidden;
	padding-top: 5px;
}

#results div.results-wrapper div.results-label-legend ul {
	overflow: hidden;
	float: left;
}

#results div.results-wrapper div.results-label-legend a {
	background-image: url(../images/black-cal-icon.gif);
	background-repeat: no-repeat;
	background-position: left top;
	color: #797979;
	
	margin-top: 10px;
	
	padding-left: 23px;
	float: right;
}

#results div.results-wrapper div.results-label-legend ul li {
	float: left;
	
	background-image: url(../images/ec-practical-icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	
	margin-right: 15px;
	
	padding-left: 22px;
	
	color: #797979;
}

#results div.results-wrapper div.results-label-legend ul li.results-label-fieldCourse {
	background-image: url(../images/ec-field-icon.png);
}

#results div.results-wrapper div.results-label-legend ul li.results-label-laboratory {
	background-image: url(../images/ec-lab-icon.png);
}

#results div.results-wrapper div.results-label-legend ul li.results-label-lectureSeries {
	background-image: url(../images/ec-lecture-serise-icon.png);
}

#results .result-list-animator {
	overflow: hidden;
}

#results div.results-wrapper ul.results-list>li {
	padding-bottom: 27px;
}

#results div.results-wrapper ul.results-list div.result-head {
	background-color: #f9f4fa;
	overflow: hidden;
	padding: 10px 15px;
}

#results div.results-wrapper ul.results-list div.result-head>h3 {
	color: #8f2b8d;
	font-size: 18px;
	float: left;
	
	background-image: url(../images/ec-practical-icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
}

#results div.results-wrapper ul.results-list div.result-head>h3 a {
	font-size: 14px;
	margin-left: 10px;
	color: #70b4df;
}

#results div.results-wrapper ul.results-list div.result-head h3.result-fieldCourse {
	background-image: url(../images/ec-field-icon.png);
}

#results div.results-wrapper ul.results-list div.result-head h3.result-laboratory {
	background-image: url(../images/ec-lab-icon.png);
}

#results div.results-wrapper ul.results-list div.result-head h3.result-lectureSeries {
	background-image: url(../images/ec-lecture-serise-icon.png);
}

#results div.results-wrapper ul.results-list div.result-head>a {
	float: right;
}

#results div.results-wrapper ul.results-list div.result-content {
	padding-top: 30px;
	overflow: hidden;
}

#results div.results-wrapper ul.results-list div.result-content>table {
	width: 255px;
	margin-left: 38px;
	float: left;
}

#results div.results-wrapper ul.results-list div.result-content>table tr {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #dadada;
}

#results div.results-wrapper ul.results-list div.result-content>table th, #results div.results-wrapper ul.results-list div.result-content table td {
	padding: 7px 0;
}

#results div.results-wrapper ul.results-list div.result-content>table th {
	text-align: left;
	width: 86px;
}

#results div.results-wrapper ul.results-list div.result-content>table tr:last-child {
	border-bottom-style: none;
	border-bottom-width: 0;
}

#results div.results-wrapper ul.results-list div.result-content div.result-info {
	float: right;
	width: 345px;
}

#results div.results-wrapper ul.results-list div.result-content div.result-info p {
	margin: 0;
	line-height: 1.6em;
}

#results div.results-wrapper .section-expandcollapse ul {
	display: none;
}

#results div.results-wrapper .section-showmore {
	padding-bottom: 20px;
	margin-top: 20px;
}

/* admin edit event dialog */
#admin-event-editor {
	width: 800px;
	margin-bottom: 25px;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: #dadada;
	padding: 10px 20px;
	box-shadow: 0 8px 12px rgba(0,0,0,.3);
	background-color: #ffffff;
}

#admin-event-editor>h2, #admin-event-editor>div {
	margin: 0;
}

#admin-event-editor ul.buttons-wrapper {
	overflow: hidden;
	float: right;
}

#admin-event-editor ul.buttons-wrapper li {
	float: left;
	margin-right: 10px;
}

/* CALENDAR VIEWS */
#timetable-views
{ margin-top: 45px; }

#timetable-views #week-nav
{ margin-left: 10px; height: 56px; }

#timetable-views #week-nav li
{ margin-top: 30px; display: inline-block; margin-left: 2px; margin-right: 15px; }

#timetable-views #tabs
{ }

#timetable-views #tabs .tab
{ background: #DBDBDB; border: 1px solid #DBDBDB; padding: 5px; width: 40px; text-align: center;}

#timetable-views #tabs .tab:hover
{ background: #F6F6F6; }

#timetable-views #tabs .tab.selected
{ background: #FFFFFF;  }

.calendar-header
{ background: #f5f5f5; border: 1px solid #e3e3e3 !important; padding: 0 10px; margin-top: 10px; display: block; }

.calendar-content
{ border: 1px solid #e3e3e3 !important; margin-top: -1px; padding: 10px; }

.desc_text
{ color: #818181; position: absolute; left: 30px; top: 17px; font-size: 9px; width: 150px;  }

.desc_text:hover
{ text-decoration: underline !important; }

.ic-export
{ position: relative; }


.tab-nav .btn-type2
{ width: 60px; text-align: center; padding: 5px 0 !important; margin-right: -4px; }

.tab-nav .selected
{
    background: #e6e5e5; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6e5e5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4 */
    background: -webkit-linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
}

.tab-nav .selected:hover
{ color: #0CB4C3; }

.btn-type2:hover, .btn-type3:hover
{ }

.tab-nav li
{ margin-right: 0; margin-left: 0; }

#month-nav
{ font-size: 15px; height: 51px; }

#month-nav h2
{ display: inline-block; float: left; width: 120px; }

#month-nav .list-horizontal
{ display:inline-block; width: 80%; text-align: center; float: left; text-align: center; margin-top: 17px; }

#month-nav .list-horizontal li
{ float: none; margin: 0 8px 0 0; }

#calendar-view
{ clear: both; }

#back, #forward
{ margin: 20px 0 0 0; }

/* WEEK VIEW */
#week-view table
{ width: 920px; }

#week-view th
{ font-weight: normal; font-size: 11px; }

#week-view .day-events td
{ border: 1px solid #dbdbdb; height: 20px; width: 130px; }

#week-view .day-events th
{ width: 45px; font-size: 10px; }

#week-view .hour-events td
{ border: 1px solid #dbdbdb; height: 35px; background: url('../img/week_border.png') repeat-x left center; width: 130px;  }

#week-view .hour-events th
{ border: 1px solid #dbdbdb; width: 45px; font-size: 10px; text-align: right; vertical-align: top;  }

#week-view .day-event
{ background: #ffd8c7; color: #737373; font-size: 12px; display: block; padding: 1px 4px; cursor: pointer; }

#week-view .hour-event-container
{ width: 135px; position: absolute; }

#week-view .hour-event
{ display: inline-block; width: 100%; background: #ead7e9; font-size: 12px; margin: 0; padding: 0; overflow-x: hidden; float: left;  cursor: pointer; padding: 2px; }

#week-view .hour-event h4 
{ font-weight: normal; padding-left: 20px; }

#hour-events-table
{ width: 920px; position: relative; }

#day-events-table
{ clear: both; }

#hour-table-scroll-container
{ height: 381px; overflow-x: none; overflow-y: scroll; margin-top: 10px; }

.middle-date
{ font-size: 16px; }

/* TERM VIEW */
#timetable-termview
{  }

/*#terms h4
{ color: #4f4f4f; font-size: 14px;}*/

#terms h2
{ margin: 10px 0; }

#terms #michaelmas, #terms #lent, #terms #easter
{ width: 100%; clear: both; border-top: 1px solid #DBDBDB; padding-top: 10px; min-height: 300px; }

#terms #easter
{ padding-bottom: 0; }

#terms #michealmas
{ border-top: 0; }

#terms #michaelmas .month
{ width: 25%; float: left;}

#terms #lent .month
{ width: 25%; float: left;}

#terms #easter .month
{ width: 25%; float: left;}

#terms #michaelmas #event-summary, #terms #lent #event-summary, #terms #easter #event-summary 
{ width: 25%; float: right; }

/*
#terms .months table, 
#calendarCol table
{ width: 90%; margin-top: 5px; border: 1px solid #F6F6F6; text-align:center;}
*/

/*
#terms .months,  table th
{ background: #F6F6F6; }
*/

/*
#terms .months table th:first-child,
#terms .months table th:last-child,
#calendarCol table th:first-child,
#calendarCol table th:last-child
{ color: #ABABAB; }
*/


/*
#calendarCol .occupied
{ background: #DBDBDB !important; }

#terms .months table td, #calendarCol table td
{ border: 1px solid #F6F6F6; background: #DBDBDB;}

#terms .months table tr td.available, #timetable-termview .months table tr td:first-child, #timetable-termview .months table tr td:last-child, #calendarCol table tr td.available, #calendarCol table tr td:first-child, #calendarCol table tr td:last-child
{ background: #FFFFFF; }
*/
#terms #event-summary #courses
{ margin-top:5px; }

#terms #event-summary #courses h4
{ padding-left: 20px; }

/*#terms #event-summary .course
{ width: 95%; background: #F6F6F6; margin-bottom: 5px; padding: 5px; }*/

/*#terms #event-summary .course:hover
{ cursor: pointer; background: #d4bed3; }*/

.term
{ min-height: 700px; }

/*
.term .month .occupied:hover
{ cursor: pointer; background: #d4bed3 !important; }
*/

.results-list th
{
    background: #fff;
}

/*****/
#calendarCol
{ width: 220px; float: left; overflow: auto; display: inline-block; margin-right: 20px; }

#calendarCol #list-nav
{ text-align: center; margin-right: 30px; margin-bottom: 15px; margin-top: 15px; }

#calendarCol .middle-date
{ font-size: 16px; }

#calendarCol #prev
{ float: left; }

#calendarCol #next
{ float: right; }

#calendarCol #list-nav li
{ float: none; }

#listCol
{ float: left; width: 680px; }

#eventList > li
{ border-bottom: 1px solid #E3E3E3; padding: 5px 0 15px 0; overflow: auto; }

#eventList .eventListItem>h4
{ display:inline-block; float: left; width: 170px; margin: 0; padding: 0; }

#eventList .eventListItem ul
{ float: right; width: 510px; margin-bottom: 20px; }

#eventList .eventListItem ul:last-child
{ margin-bottom: 0; }

#eventList .eventListItem ul li
{ margin: 0; font-weight: bold; padding-left: 20px; }

#eventList .eventListItem ul li h4
{ margin-bottom: 10px;  }

#eventList .eventListItem ul li:last-child
{ clear: both; }

#eventList .eventListItem label
{ font-weight: normal; cursor: default; margin-right: 20px; }


/* MONTH VIEW */
#timetable-monthview
{  }

#month #t#backabs .tab
{ background: #DBDBDB; border: 1px solid #DBDBDB; padding: 5px; width: 40px; text-align: center;}

#month #tabs .tab:hover
{ background: #F6F6F6; }

#month #tabs .tab.selected
{ background: #FFFFFF;  }

#month table
{ margin-left: 5px; }

#month table th
{ text-align: left; background: #fff; }

#month table th:first-child, #month table th:last-child
{ color: #ABABAB; }

#month table td
{ border: 1px solid #DBDBDB; width: 129px; height: 110px; background: #F6F6F6; }

#month table td.available
{ background: #FFFFFF; }


#month table td.available:hover
{ background: #FFFFFF; cursor: default;}

#month table td p.date
{ margin: 0; padding: 5px; }

#month table td p.name
{ font-weight: bold; margin: 0; padding-left: 5px;}

#month table td p.time
{ margin: 0; padding-left: 5px; }

#big-month-view .occupied ul li
{ margin: 0; border-bottom: 1px dashed #DBDBDB; margin: 4px 5px; padding-left: 18px; padding: 0 0 2px 18px; }

#big-month-view .occupied ul .load_more
{ margin: 0; border-bottom: none; margin: 4px 5px; padding-left: 18px; padding: 0 0 2px 0px;  }

.event-type_practical,
.practical
{ background: url(../images/ec-practical-icon.png) no-repeat left top;  }

.popup-month-view .practical
{ background: #fff url(../images/ec-practical-icon.png) no-repeat 5px center; }

.event-type_lab,
.field-course
{ background:  url(../images/ec-field-icon.png) no-repeat left top; }

.popup-month-view .field-course
{ background: #fff url(../images/ec-field-icon.png) no-repeat 5px center; }

.event-type_lab,
.laboratory
{ background: url(../images/ec-lab-icon.png) no-repeat left center;  }

.popup-month-view .laboratory
{ background: #fff url(../images/ec-lab-icon.png) no-repeat 5px top;  }

.event-type_lecture,
.lecture-series
{ background: url(../images/ec-lecture-serise-icon.png) no-repeat left center;  }

.popup-month-view, .popup-event-detail
{ z-index: 100;
display: none;
width: 180px;
position: absolute;
top: 200px;
left: 200px;
background: #EEE;
padding: 10px;
border: 4px solid #EEE;
-webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.75);
box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.75);
 display: none; top: 570px; left: 43%;
 padding: 2px; }
 
.popup-event-detail
{ width: 300px; background: #fff; }
 
.popup-event-detail .panel_arrow
{ width: 40px; height: 25px; display: block; background: url('/static/img/panel_arrow_top.png') no-repeat; position: absolute; right: 130px; top: -22px; }
 
.popup-event-detail ul
{ margin: 0 20px; }
 
.popup-event-detail ul li
{ margin:5px 0; font-weight: bold;  }
 
.popup-event-detail label
{ font-weight: normal; width: 70px; display: inline-block; }
 
.popup-event-detail p
{ margin: 10px 20px; }
 
.popup-month-view ul li
{ margin: 0; padding: 8px 2px 8px 30px; margin: 3px 2px; border: 2px solid #DBDBDB; background: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer; }

.popup-month-view ul li:hover
{ border: 2px solid #2FB2BF; }

.popup-month-view h2, .popup-event-detail h2
{ margin: 7px 5px; font-size: 1.4em; text-align: center; }

.popup-event-detail h2
{ font-size: 1.2em; text-align: left; margin: 10px 20px 15px 20px; padding-left: 25px; }

.ic-close
{ background: url('/static/img/ic_remove.png') no-repeat; display: inline-block; width: 16px; height: 16px; cursor: pointer; position: absolute; right: 3px; top: 3px;  }

#university-term-times
{ width: 710px; }

#university-term-times table
{ border:  0 !important; }

#university-term-times tr th:first-child
{ border: 0 !important; width: 50px; font-weight: normal; }

#university-term-times tr th:nth-child(odd)
{ background: #fff !important; }

#university-term-times table tbody tr:first-child
{ border: 0; }

#university-term-times .admin-table th, .admin-table-light th, .classification-table th
{ border: 0; }



/* Calendar blocks */
.calendar-month.calendar-month_size_small {
	border: 1px solid #F6F6F6;
	text-align:center;
	width: 200px;
}

.calendar-month__head-cell {
	background: #F6F6F6;
}

.calendar-month__head-cell_day_saturday,
.calendar-month__head-cell_day_sunday {
	color: #ABABAB;
}

.calendar-month__day {
	border: 1px solid #F6F6F6;
}

/* Firefox doesn't allow <td> els to be positioned relative, so we have to apply
 * the position to a div inside the td. */
.calendar-month__day-container {
	/* In order to position children absolutely. */
	position: relative;
}

.calendar-month__day_status_occupied {
	background: #DBDBDB;
}

.calendar-month__day_status_occupied:hover {
	cursor: pointer;
	background: #d4bed3;
}

.calendar-month__day_highlighted {
	background: #AEE0F3;
	font-weight: bold;
}

.calendar-month__monthyear {
	text-align: left;
	margin: 8px 0;
	font-size: 14px;
	color: gray;
}


.term-timetable-list {
}


.term-timetable {
	margin-bottom: 50px;
}

.term-timetable__name {
	color: #8F2B8C;
}

.term-timetable__columnn-left {
	float: left;
	width: 70%;
	height: 170px;
}
.term-timetable__columnn-right {
	float: right;
	width: 30%;
}

.term-timetable__calendar-list .calendar-month {
	float: left;
	margin-right: 15px;
}

/* These relative-to-window-top styles are used to effect the position of the
   calendars while scrolling. */
.term-timetable__columns {
	/* When fixed to the bottom (absolute), the term-timetable__calendar-list
	   will be relative to this. */
	position: relative;
}
.term-timetable__calendar-list.affix {
	position: fixed;
	top: 30px;
}
.term-timetable__calendar-list.affix-bottom {
	position: absolute;
	top: auto;
	/* Ensure the bottom of the calendar is BELOW the bottom offset of the 
	   bootstrap-affix as it's prone to off by one errors, causing the fixed
	   element to flash & jump about. */
	bottom: -1px;
}


.term-timetable__end {
	clear: both;
}

.term-timetable__title {
	color: #4f4f4f;
	font-size: 14px;
}


.event-series {
	background: #F6F6F6;
	margin-bottom: 5px;
	padding: 5px;
}

.event-series:hover {
	cursor: pointer;
	background: #d4bed3;
}

.event-series__title {
	padding-left: 20px;
	color: #4f4f4f;
	font-size: 14px;
}

/* Error - succes message */ 
.student-dialog-error
{ background: #f6f6f6; -webkit-border-radius:5px; -moz-border-radius: 5px; border-radius: 5px; margin: 0; margin-bottom: 20px; position: relative; }

.student-dialog-content
{ padding: 15px; }

.student-dialog-heading h3
{ padding: 5px 15px 0 15px; text-align: left; }

.student-dialog-heading .ic-close
{ margin-top:8px; margin-right: 8px; }

.student-dialog-error
{ border: 3px solid #d62728; }

.student-dialog-error .student-dialog-heading
{ background: #303030;  }

.student-dialog-error .student-dialog-heading h3
{ color: #7c7c7c; font-size: 18px; padding: 8px 0 8px 25px; font-weight: normal; margin: 0; background: url('/static/img/ic_error.png') no-repeat left; display: inline-block; margin-left: 15px; }

.student-dialog-content ul li
{ margin: 5px 0 5px 20px; font-weight: bold; list-style-type: disc;  }

#personalisedtimetable-notify-address
{ border: none; }
