/*
 * Timetables Base Stylesheet
 *
 * Based onHTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
.hidden { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 12px; line-height: 1.4; color: #333333; }


/** UTILITY **/
.left {
	float: left
}
.right {
	float: right;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0; list-style-type: none; }
ul li { margin: 10px 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; border: 0; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Actual Timetables CSS starts here
   ========================================================================== */
#main
{ width: 960px; margin: 0 auto; position: relative; }


/* General Styles */
a 
{ text-decoration: none; color: #2fb2bf; }

a:active
{ }

a:hover
{ text-decoration: underline; }

.hide-me 
{ position: absolute; top: -10000px; height: 1px; line-height: 1px; overflow: hidden; }


/* Forms */
select
{ height: 20px; padding: 1px; }


/* Titles and Text */
h1, h2, h3, h4, h5, h6
{ color: #3a3a3a; }

h1
{ }

h2
{ font-size: 20px; color: ; }

h3
{ margin: 0; }

h4
{ margin: 0; }

small
{ text-transform: capitalize; display: block; font-size: 11px; color: #4b4b4b; margin: 0 0 20px 0; }

.admin-title
{ display: inline-block; color: #8f2b8c; margin: 0; font-size: 20px; }

.admin-indent
{ margin-right: 8px !important; }

.clear
{ clear: both; }


/* Content containers */
.content-container
{ width: 960px; margin: 0 auto; }

.date-picker-container
{ position: relative; }

.date-picker-container .ic-import-date
{ position: absolute; top: 23px !important;  }

.date-picker-container input
{ width: 151px !important;  }

header
{ padding: 20px 0 24px 0; }

footer
{ background: #f5f5f5; height: 148px; clear: both; margin-top: 60px; }

footer h4
{ margin-bottom: 10px; }

footer ul 
{ float: left; margin-right: 80px; margin-top: 15px; }

footer ul li
{ margin: 5px 0; }

.left-col
{ float: left; width: 230px; }

.right-col
{  float: right; width: 705px; padding: 0 10px; }
.right-col > * { margin: 0px 10px; }

.block-label label, .block-label
{ display: block; }

.optional-label
{ color: #acacac; font-weight: normal; }

.descriptiveText
{ margin: 10px 10px; font-size: 1.2em;  }

.optional
{ color: #727272; font-weight: normal; }

.bold-label
{ font-weight: bold !important; }


/*******************************************************************************
 * Client side validation
 ******************************************************************************/

/* marks an error box as date validation and binds the validator to the previous input field */
.validation_date_pattern_message {
	
}
.errormessage {
	display: none;
    padding-left: 6px;
    color: #E25050;
    font-size: 1.1em;
}

.top_error_message {
	display: none;
    background: #FDE0DD;
    border: 2px solid #E25050;
    padding: 5px 20px 5px 20px;
}

.top_error_message .errorlist { 
    margin-top: 10px;
}
.top_error_message .errorlist > li { 
    /* list-style: disc inside; */
    color: #E25050;
    font-size: 1.1em;
}

/*******************************************************************************
 * Django forms
 ******************************************************************************/

/* clear some unwanted defaults */
.django-form li { 
    margin: 0;
}

.django-form.soft-deleted {
	display: none;
}

.django-form .horizontal-field-group > * {
    float: left;
    margin-right: 1em;
}

.django-form > fieldset {
    margin: 1em 0 2em 0;
    border-top: 1px dashed #E3E3E3;
}
.django-form > fieldset:nth-of-type(1) {
    border-top: none;
}

.django-form .legend {
    font-size: 1.5em;
    margin: 0.5em 0 0.25em 0;
    /* border-bottom: 1px solid #E3E3E3; */
}

.django-form .field {
    margin-top: 1em; 
    margin-bottom: 1em; 
}
.django-form .field > label {
    margin: 0.5em 0;
    /* font-weight: bold; */
    font-size: 1.2em;
    display: block;
}
.django-form .field.error {
    /* background: #f00; */
    /*display: inline-block;*/
    border-left: 2px dotted #E25050;
    padding-left: 6px;
}

.django-form .errorlist { 
    margin-top: 10px;
}
.django-form .errorlist > li { 
    /* list-style: disc inside; */
    color: #E25050;
    font-size: 1.1em;
}

.django-form .field > .errorlist > li {
    font-size: inherit;
}

.django-form .field.right { 
    text-align: right;
}

.django-form .field.text-input > input {
    width: 200px;
}
.django-form .field.text-input > label {
    display: block;
}

.django-form .field.checkbox input[type=checkbox] + label {
    font-weight: inherit;
    font-size: inherit;
    display: inline;
}

.django-form .field.radio-select > ul {
    margin: 0 0.5em;
}
.django-form .field.radio-select > ul > li {
    margin: 0.2em 0;
}

/* In horizontal radio-selects, the <li>s containing the inputs get floated left */
.django-form .field.radio-select.horizontal > ul:not(.errorlist) > li {
    float: left;
    margin-right: 1em;
}
/* Need clear the floated <li>s by setting clear on the el after the ul 
 * containing the floated <lis>. */
.django-form .field.radio-select.horizontal > ul:not(.errorlist) + * {
    clear: left;
}

/* form-specific styles*/
.admin-editor .faculty-affiliations .faculty-affiliation {
    border: 1px solid #E3E3E3;
    padding: 0 1.5em;
    margin: 1em 0;
}
.admin-editor .faculty-affiliations .faculty-affiliation:hover {
    background-color: #FBFBFB;
    border-color: #CFCFCF;
}

.admin-editor .faculty-affiliations .btn-remove {
	font-size: 13px;
	float: right;
}

.faculty-affiliation .classifier-groups > .classifier-group {
    float:left;
    width: 50%;
    margin: 0;
}

.faculty-affiliation .classifier-groups > .classifier-group > .field .classifiers {
     padding: 6px;
     height: 200px;
     overflow: auto;
     border: 1px solid #E3E3E3;
     margin-right: 10px;
}

.faculty-affiliation .classifier-groups > .classifier-group > .field .classifiers label {
    display: block;
    padding: 6px;
}
.faculty-affiliation .classifier-groups .classifiers label:hover {
    background: #EFEFEF;
}


/* Top Navigation */
#top-navigation
{ margin: 18px 0 0 0; }


/* Select header */
.title-area select
{ -webkit-appearance: none; -moz-appearance: none; height: 35px; }



.select-subject
{ width: 700px; opacity: 0; filter: alpha(opacity = 0); }

.select-subject-student
{ width: 180px; opacity: 0; filter: alpha(opacity = 0); }

.select-subject-skin
{ width: 700px; height: 35px; position: absolute; background: #333; color: #fff; top: 15px; font-size: 28px; font-family: Georgia; pointer-events:none; }

.select-subject-skin-student
{ width: 180px; height: 35px; font-size: 15px; pointer-events:none; margin-top: -20px}


.select-date
{ width: 150px; float: right; opacity: 0; filter: alpha(opacity = 0); }

.select-date-student
{ width: 150px; float: right; opacity: 0; filter: alpha(opacity = 0); }

.select-date-skin
{ width: 150px; height: 35px; position: absolute; right: 15px; top: 13px; pointer-events:none; color: #fff; font-size: 28px; font-family: Georgia; }

.title-area
{ height: 64px; background: #333; -moz-box-shadow: inset -2px 0px 7px #000;-webkit-box-shadow: inset -2px 0px 7px #000; }

.title-area .content-container
{ padding: 15px; position: relative; }


/* Navigation */
#top-navigation
{  }

#top-navigation li
{ padding-left: 15px; }

/* Horizontal Navigation */
.nav-horizontal
{ list-style-type: none; padding: 0; margin: 0; }

.nav-horizontal li
{ display: inline-block; color: #0cb4c3; padding: 0 2px; }

.nav-horizontal .left
{ display: inline-block; margin-right: 250px; }

.nav-horizontal li:first-child
{ padding: 0 2px 0 0; }

.nav-horizontal li:last-child
{ padding: 0 0 0 2px; }

.nav-horizontal .nav-selected a
{ color: #8f2b8c; }

.nav-horizontal .separator
{ font-weight: normal; color: #b3b3b3; }


/* Quickedit */
.nav-quickedit
{ width: 98px; vertical-align: baseline; margin-top: 5px; display: none; }

.nav-quickedit li
{  display: inline; padding: 0 2px;  }


/* Breadcrumb */
.nav-breadcrumb
{ margin: 8px 0; }

.nav-breadcrumb ul
{ display: inline; }

.nav-breadcrumb ul li
{ color: #333333; display: inline-block; padding: 0 2px; }

.nav-breadcrumb ul li a
{ padding-right: 20px; background: url('/static/img/bread_spacer.png') no-repeat center right; }

/* Additional breadcrumb content */
.nav-breadcrumb-additional-content
{ float: right; display: inline-block; margin-right: 8px; }

/* Bold Styling */
.nav-bold, .label-bold, .label-bold
{ font-weight: bold; }


/* Navigation align types */ 
.nav-right
{ float: right; }

.nav-central
{ text-align: center;  }

.nav-left
{ text-align: left; }

/* Pagination */
.nav-pagination
{ margin: 15px 0 0 0; text-align: center; }

.nav-pagination li a
{ background: #ebf2f3; min-width: 20px; padding: 3px 0; display: block; text-align: center; font-weight: bold;  }

.nav-pagination li a:hover
{ background: #0cb4c3; color: #fff; text-decoration: none; }

.nav-pagination .selected a
{ background: #0cb4c3; color: #fff; }

.nav-pagination .relative a
{ background: none; margin: 0 10px; }

.nav-pagination .relative a:hover
{ background: none; color: #0cb4c3; text-decoration: underline;  }


.nav-pagination li.current a
{ background: #0cb4c3; color: #ebf2f3; min-width: 20px; padding: 3px 0; display: block; text-align: center; font-weight: bold;  }

.nav-pagination li.current a:hover
{ background: #ebf2f3; color: #0cb4c3; text-decoration: none; }

.nav-pagination .current .selected a
{ background: #ebf2f3; color: #0cb4c3; }

.nav-pagination .current .relative a:hover
{ background: none; color: #ebf2f3; text-decoration: underline;  }


/* List horizontal */
.list-horizontal li
{ display: inline-block; float: left; margin:0 20px 0 0; padding: 0; }

.list-horizontal li:last-child
{ margin-right: 0; }

.list-horizontal ul
{ padding-bottom: 15px; overflow: auto;  }

.item-right
{ float: right !important; }

/* List vertical */
.list-vertical li
{ margin: 0; }

/* Headings */
.heading-dialog
{ color: #8f2b8c; font-size: 16px; display: inline; float: left; padding: 10px 10px 5px 10px; margin: 0; min-width: 150px; }


/* Buttons */
.btn-large, .btn-medium, .btn-small { 
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
    display:inline-block;
    width: auto;
    padding: 8px 12px;
}

.btn-large
{ font-size: 16px; min-width: 180px; font-weight: 400; }

.btn-medium 
{ }

.btn-small
{ padding: 3px 12px; }

/* Inactive State */
button[disabled],
.btn-inactive
{ opacity:0.45; filter: alpha(opacity = 45); cursor: not-allowed; } 


/* Button Type 1 "primary button styles" */
.btn-type1 {
    background: #10a8b6; /* Old browsers */
    background: -moz-linear-gradient(top,  #10a8b6 0%, #1ca8b5 51%, #119ba9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#10a8b6), color-stop(51%,#1ca8b5), color-stop(100%,#119ba9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #10a8b6 0%,#1ca8b5 51%,#119ba9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #10a8b6 0%,#1ca8b5 51%,#119ba9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #10a8b6 0%,#1ca8b5 51%,#119ba9 100%); /* IE10+ */
    background: linear-gradient(top,  #10a8b6 0%,#1ca8b5 51%,#119ba9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10a8b6', endColorstr='#119ba9',GradientType=0 ); /* IE6-9 */ 
    color: #fff;
    text-shadow:0 1px 1px #14767f;
}

.btn-type1:hover { 
    background: #1199a6; /* Old browsers */
    background: -moz-linear-gradient(top, #1199a6 0%, #1dabb8 51%, #11a8b6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1199a6), color-stop(51%,#1dabb8), color-stop(100%,#11a8b6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1199a6 0%,#1dabb8 51%,#11a8b6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1199a6 0%,#1dabb8 51%,#11a8b6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1199a6 0%,#1dabb8 51%,#11a8b6 100%); /* IE10+ */
    background: linear-gradient(top, #1199a6 0%,#1dabb8 51%,#11a8b6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1199a6', endColorstr='#11a8b6',GradientType=0 ); /* IE6-9 */ 
    color: #fff; 
    text-decoration: none;
}

.btn-type1:active
{ color: #fff; }

.btn-type1:visited
{ color: #fff; }


/* Button Type 2 and Type3 "default subnavigation buttons */
.btn-type2, .btn-type3 { 
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e6e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e6e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e6e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e6e5e5 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#e6e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e5e5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #e0dede;
    font-weight: 600; 
    text-decoration: none;
}

.btn-type2:hover, .btn-type3:hover {
    background: #e6e5e5; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6e5e5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4 */
    background: -webkit-linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top,  #e6e5e5 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
}

.btn-type2, .btn-type2:hover, .btn-type2:active, .btn-type2:visited
{ color: #303030; }

.btn-type3, .btn type3:active, .btn-type3:visited, .btn-type3:hover
{ color: #0cb4c3; }


/* Type 4 - "Show more results button" style */
.btn-type4 {
    display: inline-block;
    margin-top: -1px;
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    font-size: 12px; 
    padding: 6px 15px 8px 15px; 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20); 
    background: #ebf2f3; 
    font-size: 12px; 
    color: #0fa6b5; 
    font-weight: 600; 
}

.btn-type4:active, .btn-type4:visited
{ color: #0fa6b5; }

.btn-type4:hover
{ background: #139dab; color: #fff; text-decoration: none; }


/* Type 5 (used in content navigation) */
.btn-type5
{ background: #ebf2f3; width: 22px; height: 22px; display: block; font-weight: bold; }

.btn-right
{ float: right; }



/***********
 * 
 * 
 * POPUPS
 * 
 * 
 ***********/

.popup {
	width: 350px;
	position: absolute;
	z-index: 1000;
}

.popup div.popup-top {
	background-image: url(../images/popup-box-top.png);
	height: 14px;
	margin: 0;
}

.popup .popup-content {
	background-color: #f6f6f6;
	
	border-style:solid;
	border-color: #d52728;
	border-width: 2px;
	
	border-top-style: none;
	border-top-width: 0;
	
	overflow: hidden;
	
	border-radius: 0 0 3px 3px;
	box-shadow: 0 3px 5px rgba(0,0,0,.3);
}

.popup div.popup-content-head {
	background-color: #303030;
	
	padding-left: 41px;
	padding-right: 87px;
	
	overflow: hidden;
}

.popup div.popup-content-head p {
	background-image: url(../images/popup-info-icon.gif);
	background-repeat: no-repeat;
	background-position: left top;
	
	padding-left: 35px;
	
	color: #989898;
	
	font-weight: bold;
	font-size: 14px;
	
	min-height: 21px;
}

.popup div.popup-problems-fetching {
	background: url('/static/img/spinner.gif') scroll no-repeat center bottom #FFFFFF;
	padding: 7px 40px;
	height: 40px;
}
.popup div.popup-problems-fetching p {
	margin: 0px;
}

.popup ul.popup-problems-list {
	background-color: #FFFFFF;
	padding: 7px;
	
	padding: 0 40px;
}

.popup ul.popup-problems-list li li {
	color: #d61a19;
	margin: 0;
}

.popup ul.popup-problems-list>li {
	margin: 0;
	padding: 12px 0;
	
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #d9d9d9;
}

.popup ul.popup-problems-list>li:last-child {
	border-style: none;
	border-width: 0;
}


.popup ul.popup-problems-list>li h3 {
	font-size: 13px;
}

.popup ul.popup-problems-list>li:last-child {
	margin: 0;
}

.popup ul.popup-buttons-wrapper, .confirm ul.confirm-buttons-wrapper {
	margin-left: 105px;
	overflow: hidden;
	padding-top: 5px;
}

.popup ul.popup-buttons-wrapper li, .confirm ul.confirm-buttons-wrapper li {
	float: left;
	margin-right: 15px;
}

.popup .popup-content-description {
	padding: 0 10px;
}


/* specific popup styling */

/* confirm popup */

div.confirm {
	width: 257px;
	border-radius: 3px;
	background-color: #000000;
	
	position: absolute;
	z-index: 1000;
	
	top: 500px;
	
	overflow: hidden;
}

div.confirm h2 {
	background-color: #303030;
	color: #a2a2a2;
	padding: 11px 5px;
	text-align: center;
	font-size: 14px;
	margin: 0;
	
	border-radius: 3px 3px 0 0;
}

div.confirm p.confirm-description {
	color: #FFFFFF;
	margin: 0;
	padding: 10px 25px 15px 25px;
	text-align: center;
	font-weight: bold;
}

div.confirm ul.confirm-buttons-wrapper {
	margin-left: 78px;
	padding: 0;
}

div.confirm ul.confirm-buttons-wrapper li {
	margin-top: 0;
}

/* loginpopup */ 

.popup.login-popup div.popup-content-head {
	padding-left: 10px;
	padding-right: 10px;
}


/* help popup */

.popup-help div.popup-content-head {
	padding: 0;
}

.popup-help div.popup-content-head p {
	background-image: none;
	padding: 0 5px;
	text-align: center;
}

/* lecture popup */

.popup-lecture {
	width: 299px;
}

.popup-lecture div.popup-top {
	background-image: url(../images/popup-lecture-box-top.png);
	height: 16px;
}

.popup-lecture div.popup-content-head {
	background-color: #f5f5f5;
	padding: 0 18px;
}

.popup-lecture .popup-content {
	background-color: #FFFFFF;
	border-width: 6px;
	border-color: #cecece;
	
	border-radius: 0;
}

.popup-lecture div.popup-content-head p {
	color: #343434;
	padding-left: 30px;
	background-position: left 3px;
	
}

.popup-lecture .popup-content .popup-content-description {
	padding: 14px;
}

.popup-lecture .popup-content .popup-content-description p {
	margin-bottom: 0;
}

.popup-lecture .popup-content .popup-content-description table {
	margin-left: 5px;
}

.popup-lecture .popup-content .popup-content-description tr {
	height: 23px;
}

.popup-lecture .popup-content .popup-content-description tr td:last-child {
	font-weight: bold;
}

.popup-lecture .popup-content .popup-content-description tr td:first-child {
	width: 70px;
}

.popup-lecture.practical .popup-content-head p {
	background-image: url(../images/ec-practical-icon.png);
}

.popup-lecture.fieldCourse .popup-content-head p {
	background-image: url(../images/ec-field-icon.png);
}

.popup-lecture.laboratory .popup-content-head p {
	background-image: url(../images/ec-lab-icon.png);
}

.popup-lecture.lectureSeries .popup-content-head p {
	background-image: url(../images/ec-lecture-serise-icon.png);
}

/**
*
* Section (specific UI elements
*
*/

/* Show more results */ 
.section-showmore
{ width: 100%; display: block; border-top:#d9d9d9 1px dashed;  text-align: center; }

.section-showmore .error
{ color: #D63434; font-weight: bold; }

.section-showmore .btn-type4 {
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  background-image: url(/static/img/spinner-grey.gif);
  background-repeat: no-repeat;
  background-position: 138px center;
}

.section-showmore .btn-type4:hover { 
  background-image: url(/static/img/spinner-teal.gif);
}

.section-showmore .btn-type4.loading {
  cursor: not-allowed;
}



/* Timetable builder */
div.purple
{
	width: 100%;
	height: 10px;
	background-color: #D2AAD1;
	position: absolute;
	left: 0px;
}

div.section-personalisedtimetable
{ margin-top: 10px; z-index: 100; position:absolute; right:0px; }

.section-personalisedtimetable .counter
{ font-size: 14px; color: #fff; padding-left: 5px; }

.btn-personalisedtimetable, .btn-personalisedtimetable-loggedout { 
    font-size: 14px;
    background: #8f2b8c; 
    padding: 8px 23px 12px 8px; 
    color: #cb9fcb; 
    float: right; 
    border-radius: 0px 0px 4px 4px; 
    -moz-border-radius: 0px 0px 4px 4px; 
    -webkit-border-radius: 0px 0px 4px 4px; 
    background-color: #8f2b8c;
    height: auto;
    text-align: center;
}


.btn-personalisedtimetable>a, .btn-personalisedtimetable-loggedout>a {
	background-image: url(../img/ic_timebuilder.png);
	padding-left: 30px;
	margin-left: 12px;
	padding-top: 2px;
	min-height: 16px;
	background-position: left top;
	background-repeat: no-repeat;
	color: #cb9fcb;
}

.btn-personalisedtimetable p, .btn-personalisedtimetable-loggedout p {
	width: 180px;
	text-align: center;
	font-size: 12px;
	margin: 0 auto;
	padding-top: 5px;
}

.btn-personalisedtimetable:hover, .btn-personalisedtimetable-loggedout:hover
{ text-decoration: none; }

.ic_down, .ic_up
{ display: inline-block; width: 19px; height: 19px; float: right; margin-left: 15px; }

.ic_down
{ background: url('/static/img/ic_timedown.png') no-repeat;  }

.ic_up
{ background: url('/static/img/ic_timeup.png') no-repeat; }


/* Section Expand / Collapse */
.section-expandcollapse
{ margin: 20px 0; width: 345px; display: inline-block; }

.section-expandcollapse .btn-type4
{ display: block; z-index: 99; position: relative; }

.section-expandcollapse .btn-type3
{ display: inline-block; float: right; padding: 2px 20px; margin: 3px 0 0 0; }

.section-expandcollapse h4
{ padding: 10px 0 13px 15px; display: inline; float: left; }

.section-expandcollapse ul
{ background: #f6f6f6; padding-bottom: 35px; padding-top: 4px; border-radius: 0px 0px 4px 4px;  -moz-border-radius: 0px 0px 4px 4px; -webkit-border-radius: 0px 0px 4px 4px;  }

.section-expandcollapse li
{ background: #f6f6f6; padding: 5px 0 5px 0; margin: 0 18px 0px 18px; border-bottom: 1px dashed #d9d9d9; }

.section-expandcollapse li:last-child
{ border-bottom: 0; }

.ic-up
{ background: #ebf2f3 url('/static/img/ic_up.png') no-repeat 12px 9px; padding-left: 30px;  }

.ic-up:hover
{ background: #139dab url('/static/img/ic_up_hover.png') no-repeat 12px 9px; padding-left: 30px;  }

.ic-down
{ background: #ebf2f3 url('/static/img/ic_down.png') no-repeat 12px 11px; padding-left: 30px;  }

.ic-down:hover
{ background: #139dab url('/static/img/ic_down_hover.png') no-repeat 12px 11px; padding-left: 30px;  }

.ic-wink
{ background: url('/static/img/ic_wink.png') no-repeat; padding-left: 30px; display: block; height: 15px; width: 15px;  }

.ic-prev
{ background: url('/static/img/ic_prev.png') no-repeat; display: block; height: 16px; width: 16px; margin: 0; padding: 0; cursor: pointer; }

.ic-next
{ background: url('/static/img/ic_next.png') no-repeat; display: block; height: 16px; width: 16px; margin: 0; padding: 0; cursor: pointer; }




/* Error - succes message */ 
.admin-dialog, .admin-error-dialog
{ background: #f6f6f6; -webkit-border-radius:5px; -moz-border-radius: 5px; border-radius: 5px; margin: 0 10px; margin-bottom: 20px; }

/* admin dialogs are not visible by default */
.admin-dialog
{ border: 1px solid #d6d6d6; display: none; }

.admin-dialog-content
{ padding: 15px; }

.admin-dialog .admin-dialog-heading h3
{ padding: 5px 15px 0 15px; }

.admin-dialog.error
{ border: 3px solid #d62728; }

.admin-dialog.error .admin-dialog-heading
{ background: #303030; text-align: center; }

.admin-dialog.error .admin-dialog-heading h3
{ color: #7c7c7c; font-size: 18px; text-align: center; padding: 8px 0; font-weight: normal; margin: 0; background: url('/static/img/ic_error.png') no-repeat left; display: inline-block; padding-left: 28px; }

.admin-dialog.error .admin-dialog-content
{ color: #d62728; }

.admin-dialog.error .admin-dialog-content ul li
{ margin: 0 0 0 20px; font-weight: bold; list-style-type: disc; }


/* Event Added Dialog */
.section-personalisedtimetable-dialog
{ width: 195px; border: 5px solid #c8c8c8; padding: 13px; background: #fff;}

.section-personalisedtimetable-dialog h3
{ font-size: 14px; margin: 0 0 8px 0;  }

.section-personalisedtimetable-dialog hr
{ margin: 10px 0;  }

.section-personalisedtimetable-dialog table
{ margin: 8px 0 15px 0; }


/* Personalised timetable view */
.section-personalisedtimetable-content-container {
	position: absolute;
	right: 0;
	top: 55px;
}

.section-personalisedtimetable-content-container div {
	margin-left: auto;
	margin-bottom: 10px;
}

.section-personalisedtimetable-view 
{ width: auto; min-width: 368px; max-width: 433px; border: 5px solid #d2aad1; background-color: #FFFFFF;  }

.section-personalisedtimetable-view-header
{ padding: 8px 15px 0 15px;  }

.section-personalisedtimetable-view-header-notify
{ color: #989898; }

.section-personalisedtimetable-view-header .nav-horizontal
{ padding: 5px 0; }

.section-personalisedtimetable-view-content
{ padding: 0 7px 1px 7px; margin-top: -10px; clear: both; max-height: 600px; overflow-y: auto; }

.section-personalisedtimetable-view-content ul
{ padding: 0 7px; margin: 0; }

.section-personalisedtimetable-view-content .lecture-data li
{ padding: 8px 15px 8px 15px; display: block; overflow: auto; background: #f6f6f6; }

.section-personalisedtimetable-view-content .lecture-data h4
{ margin-left: 10px; display: inline-block; padding-bottom: 6px; }

.lecture-data-description, .lecture-data-info
{ width: 50%; float: left; display:block; line-height: 1.9em; }

.section-personalisedtimetable-view-footer
{ text-align: center; margin-bottom: 10px; }


/* Facets */
.section-facets
{ width: 230px; background: #f6f6f6 url('/static/img/background_facet_header.png') repeat-x; }

.section-facets-header
{ padding: 10px 30px; margin-bottom: 10px; }

.section-facets-header h3
{ font-size: 16px; }

.section-facets-content
{ padding: 10px 20px 30px 20px; }

.section-facets-content ul
{ margin: 20px 0 0 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 1); }

.section-facets-content ul.more-facets
{ margin-top: 0; }

.section-facets-content ul li
{ padding: 5px 0;  }

.section-facets-content ul.empty-facets-list {
	border-top-style: dashed;
	border-top-width: 1px;
	border-top-color: #d3d3d3;
	
	color: #a9a9a9;
}

.section-facets-content input
{ margin-right: 8px; }

.section-facets-content a
{ font-weight: bold;  }


/* Admin Navigation */
.section-admin-navigation
{ width: 230px; background: #f6f6f6; font-size: 16px; text-shadow:0 1px 1px #fff; }

.section-admin-navigation li{ 
    padding: 8px 5px 8px 17px; 
    margin: 0; 
    border-bottom: 1px solid #e3e3e3; 
    -moz-box-shadow: 0px 1px 0px #fff;
    -webkit-box-shadow:  0px 1px 0px #fff;
    box-shadow:  0px 1px 0px #fff; 
}

.section-admin-navigation li, .section-admin-navigation li a
{ display: block; }

.section-admin-navigation li:last-child
{ border-bottom: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.section-admin-navigation .nav-selected
{ font-weight: bold; background: #ebf2f3; font-weight: normal; }

.section-admin-navigation .nav-selected span
{ color: #2FB2BF; }

.section-admin-navigation .nav-dashboard
{ font-weight: bold; color: #333; }

.section-admin-subnavigation 
{ background: #f6f6f6; }

.section-admin-subnavigation li
{ border: 0; font-size: 14px; padding: 5px 0 5px 25px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;  }

.section-admin-subnavigation li a
{ color: #696969; }

.section-admin-subnavigation .nav-selected
{ background: #f6f6f6 url('/static/img/ic_up.png') no-repeat 12px 9px; padding-left: 25px; }


/* Student lecture filter */
.section-student-filter{ 
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e4e4',GradientType=0 ); /* IE6-9 */
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.60);
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    width: 710px;
    height: 100px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; 
    margin: 50px 0;
    display: block;
}

.section-student-filter label
{ font-size: 18px; font-weight: 600; display: block; margin-bottom: 10px; }

.section-student-filter ul
{ margin: 0; }

.section-student-filter li
{ display: inline-block; float: left; padding: 16px 0 25px 25px; margin: 0; }

.section-student-filter input
{ margin-top: 35px; padding: 6px 12px; }

.section-student-filter select
{ text-indent:5px; height:26px; border:0px solid #C1272D; }

.section-student-filter #student-year
{ width: 220px; }

.section-student-filter #student-subject
{ width: 263px; }

/* Admin Group (general styling for admin content sections) */
.section-admin-content-group
{ border: 1px solid #d6d6d6;  margin:10px 0; overflow: auto; }

.add-events-url-form
{ padding: 10px; border: none; margin:10px 0px 30px 0px; overflow: auto;}

.section-admin-content-group label
{ font-weight: bold; padding-bottom: 5px; }

.section-admin-content-group ul.list-horizontal 
{ padding: 15px; overflow-y: auto; clear: both; }

.section-admin-content-group ul.list-vertical 
{ padding: 15px; overflow-y: auto; clear: both; }

.section-admin-content-group ul li
{ margin: 0 20px 10px 0; }

.section-admin-content-group ul li:last-child
{ margin: 0; }

.section-admin-content-group p
{ margin: 0; }

.add-events-form table
{ width: 100%; margin-top: 30px;  }

.section-admin-content-group table.editor-group td, .section-admin-content-group table.editor-group th
{ padding: 5px 0; padding-left: 15px;  }

.section-admin-content-group table th
{ text-align: left; }

.section-admin-content-group table.editor-group td
{ background: #eeeeee; padding-bottom: 4px; padding-top: 6px; }

.section-admin-content-group table td a
{ font-weight: bold; }

.section-admin-content-group tr.event td
{ background: none; }

.section-admin-content-group tr.event
{ background: #dddddd; }

.admin-table td:nth-child(2)
{ min-width: 100px; }

.section-admin-content-group input
{ padding: 2px; border: 1px solid #d6d6d6; }

.section-admin-content-group table td input
{ width: 100%; padding: 5px 2px;  }

.section-admin-content-group .action-cel
{ width: 120px; position: relative; }

.section-admin-content-group .dateHolder
{ position: relative; }

.section-admin-content-group input
{ position: relative; }

.section-admin-content-group .action-cel label
{ font-weight: normal; padding-left: 5px; }

.section-admin-content-group input[type=checkbox]
{ width: auto; }

.section-admin-content-group .ic-import-date, .section-admin-event-listing .ic-import-date
{ display: block; background: url('/static/img/ic_export.png') no-repeat; width: 25px; height: 15px; position: absolute; right: 3px; top: 0px; z-index: 5; }

.section-admin-content-group textarea
{ width: 360px; border: 1px solid #d6d6d6; }

.section-admin-content-group .action-cel a
{ padding: 5px 0; display: inline-block; }

.section-admin-content-group .action-cel .ic-add, .section-admin-content-group .action-cel .ic-delete-action
{ float: right; width: 16px; height: 12px; margin: 5px 15px 0 0; }

.embargo-block
{ position: relative; }

.embargo-block input
{ border: 0; padding: 4px 2px; }

.embargo-block .ic-import-date
{ display: block; background: url('/static/img/ic_export.png') no-repeat; width: 25px; height: 15px; position: absolute; right: 3px; top: 18px; z-index: 5; }

.hint, p.hint
{ margin: 0 0 4px 0; font-size: 0.9em; color: grey; } 


/* Student search */
.section-student-search, .section-admin-head-panel{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#e5e4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e4e4',GradientType=0 ); /* IE6-9 */
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.60);
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    width: 710px;
    height: 54px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; 
    margin: 50px 0;
    display: block;
}

.section-student-search label
{ font-size: 18px; font-weight: bold; width: 180px; padding: 5px 0; }

.section-student-search #lecture-search
{ width: 405px; padding: 11px 10px 10px 40px; border: 1px solid #b0b0b0; border-right: 0; border-bottom: 0; background: #fff url('/static/img/ic_search.jpg') no-repeat 10px 7px; }

.section-student-search #lecture-search, .section-student-search label
{ display: inline-block; }

.section-student-search #lecture-search-submit
{ margin: 0; padding: 11px 15px 11px 15px; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;  margin-left: -3px; margin-bottom: -1px;  } 

.section-student-search form
{ padding: 8px 10px 9px 22px; }


/* Admin Heading */
.section-admin-heading
{ background: #f6f6f6; display: block; padding: 10px 20px; }

.section-admin-heading:empty
{ display: none; }

.section-admin-heading form
{ float: right; display: inline-block; }

.invalid-content input
{
	border-color: #A21021;
	outline-color: #BE4A57;
	outline-style: auto;
	outline-width: 5px;
	outline-offset: -2px;
	background-color: #FFF4F4;
}

.invalidity-reasons {
    font-weight: bold;
    color: #BE4A57;
    list-style-type: disc;
    list-style-position: inside;
    margin: 0px 6px;
}

.section-admin-heading input[type=text]
{ border: 1px solid #b0b0b0; border-right: none; border-bottom: 0; padding: 7px; float: left; }

.section-admin-heading input[type=submit]
{ width: 27px; height: 24px; display: block; height: 28px; float: right; }


/* Section admin header and admin content */
.section-admin-event-listing
{ /* width: 685px; margin-left: 10px; */ }

.section-admin-event-listing
{ background: #efefef; }

.section-admin-content
{ padding: 10px 20px; overflow: auto; }

.section-admin-content div:empty
{ display: none; overflow: none; }

.section-admin-content ul
{ display: block; margin: 0; overflow: none; }

.section-admin-content ul li ul li
{ display: inline-block; min-width: 60px; margin: 0; position: relative; }

.section-admin-content select, .section-admin-event-listing-content input
{ width: 150px; margin-right: 30px; height: 20px; }

.section-admin-event-listing-content .multiselect:last-child
{ margin-right: 0; }

.section-admin-content .edit-classification
{ border: 0; padding: 4px 2px; width: 100px !important; height: 14px; }

.section-admin-content .edit-button
{ background: #fff; position: absolute; right: 26px; top: 0; padding-right: 2px; height: 19px; padding-top: 3px; }

.section-admin-content input[type=text]
{ width: 115px; margin-right: 50px; } 

.section-admin-content input[type=submit] 
{ min-width: 60px; margin-right: 0;  } 

.section-admin-content:empty
{ display: none; padding: 0; }

#filterOptions
{ overflow: none; clear: both; }

#filterOptions ul li select
{ margin-right: 18px; }

#btn-publish-timetable
{ margin-top: 2px; }

/* Admin dashboard */
.admin-overview-links
{  }

.admin-overview-grid
{ width: 100%; margin-top: 30px; }

.admin-overview-grid section section, .admin-overview-grid aside, .admin-revisions
{ border: 1px solid #d6d6d6; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; width: 345px; box-sizing: border-box; ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding: 15px; display: inline-block; }


.admin-useful-links
{ float: left; height: 300px; margin-bottom: 15px; }

.admin-overview-quick-links
{ float: left; height: 300px; margin-right: 15px; }

/* 
.admin-faculty-link
{ float: left; height: 125px; }
*/

.admin-revisions
{ width: 100%; margin-top: 15px; }

/* Add new events form */

ul.checkbox-select-container
{ height: 179px; width: 100%; background-color: #FFFFFF; overflow-y: scroll: auto; overflow-x: hidden; border-style: solid; border-width: 1px; border-color: #c4c4c4; }

ul.checkbox-select-container li
{ display: inherit; padding: 2px 0; margin: 0; margin-left: 5px; }

ul.checkbox-select-container li label
{ padding-left: 5px; font-weight: normal; }

.section-admin-add-group fieldset
{ display: inline; float:left; width: 50% }

/* .section-admin-add-group > ul 
{  } */

/* .section-admin-add-group > ul > li
{ float:left; width: 50%; margin: 0; } */

.section-admin-add-group .field.checkbox-select-multiple
{ margin:10px; }

/* .section-admin-add-group .field.checkbox-select-multiple .box
{ padding: 6px; height: 200px; overflow: auto; } */

/* .section-admin-add-group .field.checkbox-select-multiple .box label
{ display: block; }
.section-admin-add-group .field.checkbox-select-multiple .box label:hover
{ background: #EFEFEF; } */

.section-admin-add-group .field.checkbox-select-multiple .box *
/* important needed because of previous id matching rules taking precidence over
 * these class based rules... */
{ padding: 0 !important; margin: 0 !important; }

/* .section-admin-add-group .field.checkbox-select-multiple .box label
{ padding: 6px !important; } */

.section-admin-add-group label
{ font-size: 13px; font-weight: bold;  }

#events
{ margin-top: 50px; }

/* Specific form styling */
.add-events-form
{ margin-top: 30px; }

.add-events-form hr
{ margin: 0 15px; }

.add-events-form .col2
{ width: 315px; }

.add-events-form .col1
{ width: 150px; }

/* Add classifications form */ 
#add-classifications-form liRevision
{ width: 322px; }

#add-classifications-form li:last-child
{ margin-right: 0; margin-bottom: 0;  }

#add-classifications-form ul
{ padding-bottom: 0; }

#add-classifications-form ul:last-child li
{ width: 664px; margin-bottom: 15px; }

#add-classifications-form input, #add-classifications-form textarea, #add-classifications-form select
{ width: 100%; }

#add-classifications-form textarea
{ min-height: 100px; }

#add-classifications-form .classificationgroup-block, #add-classifications-form .select-block
{ width: 145px; float: left; }

#add-classifications-form .select-block
{ margin-right: 15px; }

#add-classifications input[type=text]
{ width: 320px; }

#add-classifications .select-block, #add-classifications .classificationgroup-block
{ width: 155px; }

#changehistory table tr td:first-child
{  font-weight: bold; }

/* Import events */
#section-admin-import-events
{ background: #EFEFEF; margin: 10px 10px 0 10px; }

#external-listing
{ display: none; padding-top: 15px !important; margin-top: 10px !important; }

/* Arno CSS - For viewing purposes, needs to be deleted (and/or put where it should) after templating */

/* Add/Edit Faculty form specific styles */
#view-faculty-timetables p
{ margin: 0 0 15px 0; }

.faculty.form
{ border: none; }

.faculty.form
{ padding-left: 10px; padding-right: 10px; }

.faculty.form ul.additional-width li input
{ width: 200px; }

.faculty.form #faculty-admin ul
{ padding-bottom: 5px; }

.faculty.form ul
{ padding-left: 0px; padding-right: 0px; }

.faculty.form #timetable-for-faculty ul
{ margin-bottom: 0; padding-bottom: 0; }

.faculty.form .empty-container 
{ background: #f6f6f6; margin-top:5px; margin-bottom:5px; text-align:center; font-style:italic; padding-bottom: 40px; padding-top: 40px; color: #AAAAAA;}

.faculty.form .box-container 
{ float: left; width:50%; margin: 8px 0; }

.faculty.form .box 
{ border: 1px solid #e3e3e3; height: 200px; overflow-y: auto; padding: 5px;
  color: #AAAAAA; margin-right: 15px; display: block; }

.faculty.form .empty .box
{  }

.faculty.form .when-empty
{ display: none; }
.faculty.form .empty .when-empty
{ display: inherit; }
.faculty.form .help-msg
{ margin: 30px 20px 0 20px; text-align: center; }


.faculty.form .classifier:hover
{ background-color: #f8f8f8; }

.faculty.form .classifier > *:first-child
{ padding-left: 7px; }
.faculty.form .classifier > *:last-child
{ padding-right: 7px; }

.faculty.form .classifier > *
{ line-height: 28px; }

.faculty.form .classifier
{ border-bottom: 1px solid #EFEFEF; }

.faculty.form .classifier .name
{ width: 100%; }

.faculty.form .classifier .controls
{ white-space: nowrap; overflow: hidden; }

.faculty.form #classification-group
{ clear: both; margin-top: 45px; }

.faculty.form #classification-group-title
{ display: block; width: 240px; margin-bottom: 5px; }

.faculty.form .box-container .btn-type1 
{ margin-top: 5px; }

#timetable-status
{ margin-top: 15px; }

/* NEW TERM DIALOG + NEW CLASSIFICATION DIALOG */

#new-level-dialog.admin-dialog label, #new-level-dialog.admin-dialog input 
{ width: 300px; }

#new-classification-dialog.admin-dialog label, #new-classification-dialog.admin-dialog input, #new-classification-dialog.admin-dialog select, #new-classification-dialog.admin-dialog li
{ width: 290px; }

#new-classification-dialog.admin-dialog .dialog-menu li
{ width: 70px; }

#new-classification-dialog.admin-dialog #classification-description-textarea
{ margin-top: 50px; }

#new-classification-dialog.admin-dialog #classification-description-textarea textarea
{ width: 600px; height: 100px; resize: none; border: 1px solid #e3e3e3; }

#new-classification-dialog.admin-dialog h3, #new-level-dialog.admin-dialog h3
{ margin-bottom: 5px; }


/* ADD-ADMINISTRATORS */

#add-administrators.section-admin-content-group
{ border: none; }

#add-administrators
{ padding: 0 10px;}

#add-administrators h3
{ padding-bottom: 10px; }

#add-administrators hr
{ margin-top: 10px; margin-bottom: 10px;}

#add-administrators .faculty-settings
{ margin-top: 15px; }

#add-administrators.section-admin-content-group ul
{ padding: 0; margin: 0; }

#add-administrators.section-admin-content-group ul#super-admin
{ padding-top: 10px; }

#add-administrators.section-admin-content-group .box ul.horizontal-nav li
{ width: 150px; }

#add-administrators.section-admin-content-group .box ul.list-vertical li
{ padding-bottom: 5px; }

#add-administrators.section-admin-content-group .box ul.list-vertical li:last-child
{ padding-bottom: 0; }

#add-administrators.section-admin-content-group .box ul.additional-width li
{ width: 200px; padding-bottom: 5px;}

#add-administrators.section-admin-content-group .box ul.additional-width li input
{ width: 15px; }

#add-administrators.section-admin-content-group .box ul
{ padding-left: 15px; padding-top: 10px; padding-bottom: 10px; } 

#add-administrators .box
{ border: 1px solid #e3e3e3; margin-bottom: 10px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

#add-administrators h2, h1
{ font-size: 12px; margin: 10px; margin-bottom: 0; padding: 0; position: relative; display: inline-block; }

#add-administrators .ic-help
{ right: -20px; margin-top: 3px; }

#add-administrators h1
{ font-size: 15px; margin: 15px 0 5px 0; }

#add-administrators.section-admin-content-group ul.additional-width
{ padding-top:5px; padding-bottom:5px;  }

#add-administrators.section-admin-content-group ul.additional-width li input, #add-administrators.section-admin-content-group ul.additional-width li select
{ width: 200px; }

/* 
#add-administrators label
{ font-weight: normal;  }
 */
 
#add-administrators label input
{ margin-right: 3px; }

#add-administrators #faculty
{ float: left; }

#add-administrators .ic-add
{ margin-left: 5px; display: inline-block; height: 20px; width: 20px; float: left; }

#add-administrators #multi-level-select li
{ width:180px; }

#add-administrators ul#multi-level-select
{ border: 1px solid #e3e3e3; width:200px; height:200px; padding: 5px; margin: 0;}

#add-administrators #select-level-classification #level
{ width: 200px; float: left; }

#add-administrators #multi-classification-select li
{ width: 380px; }

#add-administrators ul#multi-classification-select
{ border: 1px solid #e3e3e3; width:400px; height:200px; padding: 5px; margin: 0;}

#add-administrators #select-level-classification #classification
{ width: 400px; }

#add-administrators ul#multi-level-select li input, #add-administrators ul#multi-classification-select input
{ padding: 0; margin: 0;}

#add-administrators ul#multi-level-select li, #add-administrators ul#multi-classification-select li
{ padding: 0; margin: 0; }

#add-administrators #select-level-classification li#level
{ margin-top: 0; }

#add-administration-menu li, #edit-administration-menu li
{ margin-right: 5px; }

#select-level-classification-nothing-selected
{ color: #AAAAAA; margin-bottom:10px; padding-top: 60px; padding-bottom: 60px; text-align: center; border: 1px solid #e3e3e3; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/* TABS */

#tabs
{border: 0; font-size: 12px;}

#tabs .view-all
{ padding-top: 10px; float: right;}

#tabs .ui-corner-all
{ border-radius: 2px; }

#tabs .ui-widget-header
{ background: #F6F6F6; border: none; color: #3A3A3A; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

#tabs .ui-state-default
{ border: none; background: #EDEDED; }

#tabs .ui-state-active
{ border: none; background: #FFFFFF; }

#tabs .ui-state-default a
{ text-align: center; width: 100px; }

#tabs .admin-table-light
{ margin-top: 0px; }

#tabs a
{ color: #2FB2BF; }

#tabs #published.ui-tabs-panel, #tabs #unpublished.ui-tabs-panel
{ padding: 10px 0; }

#tabs tr.faculty
{ border: 1px solid #DBDBDB; }

#tabs tbody.course
{ background: #F7F7F7; padding: 5px 0 5px 0;}

#tabs tbody.course tr td 
{ padding: 0; padding-left: 20px; }

#tabs tbody.course tr:last-child td 
{ padding-bottom: 5px; }

#tabs tbody.course tr:first-child td 
{ padding-top: 5px; }

/* TERM-DATES */

#term-dates
{ padding-bottom: 10px; }

#term-dates p
{ margin: 0; }

#term-dates .admin-table-light tr.dates th
{ border: none; }

/* ADD-EVENTS-FORM */

.add-events-form.section-admin-content-group h1
{ margin-left : 10px; }

.section-admin-content-group table.editor-group td
{ background: none;}

.add-events-form.section-admin-content-group td table
{ margin-top: 0; }

.add-events-form.section-admin-content-group table tr.series
{ background: url("/static/img/ic_drag.png") no-repeat scroll 0 0 #EEEEEE; cursor: move;}

.add-events-form.section-admin-content-group table tr.event td .ic-indent 
{ background: url("/static/img/ic_indent.png") no-repeat scroll 0 0 transparent; width: 25px; }

.ic-checkboxcell input[type=checkbox]
{ width: auto !important; margin: 8px 5px 8px 8px; }

.add-events-form.section-admin-content-group table tr.event td 
{ padding: 2px 5px 2px 0; }

.add-events-form.section-admin-content-group table tr.event td input
{ width: 155px; }

.add-events-form.section-admin-content-group .totalevents
{ float: left;}

/* OTHER */

.number
{ text-align: center; background: #F6F6F6; margin-top: 15px; padding:10px; padding-bottom: 5px; font-size: 14px; }

.overview-container
{ border: 1px solid #DBDBDB; padding: 10px;padding-bottom: 25px; margin-top: 30px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

.overview-container:last-child
{ margin-top: 15px; }

#faculties .admin-table-light, #administrators .admin-table-light
{ margin: 0; }

#administrators
{ margin-top: 15px; }
/* STUDENT */



/* LECTURE LIST */

#lecture
{ min-height: 350px; width: 650px; clear: both;}

#lecture #header
{ background: #f9f4fa; padding:0; margin: 0; height: 40px; }

#lecture #header ul li
{ float: left; padding: 0; margin: 0; padding: 10px 10px 10px 10px;}

#lecture #header ul li:last-child
{ float:right; padding: 5px 10px 10px 10px ;}

#lecture .ic-practical
{ background: url('/static/images/ec-practical-icon.png') no-repeat; width: 18px; height: 18px; }

#lecture #content
{clear: both; margin-top: 20px;}

#lecture #left
{ width: 45%; float: left;}

#lecture #left table
{ margin-left: 10px;width: 90%;}

#lecture #left table tr
{ border-bottom: #d9d9d9 1px dashed; height: 30px;}

#lecture #left table tr:last-child
{ border: none; }

#lecture #left table th
{ text-align: left; width: 40%; }

#lecture #left table td
{ padding-top: 6px; width: 60%;}

#lecture #right
{ width: 55%; float:right;}

tbody.ui-state-highlight
{ height: 40px; width: 500%; display: block; }

.red
{ color: #FF0000; }

.add-events-form.section-admin-content-group table tr.event td.combine
{ padding-bottom: 5px; padding-left: 5px; padding-top: 5px; }

/* end Arno CSS */

/* Section event listing */
.section-event-listing
{ width: 100%; background: url('/static/img/background_table_heading.png') no-repeat left top; width: 705px;  }

.section-event-listing #export-options
{ width: 140px;}

.event-table-header
{ padding-top: 20px;  }

.event-table-header ul li
{ display:inline-block; margin-right: 10px; }

.event-table-header ul li:last-child
{ margin-right: 0; }

.section-event-listing table, .event-table-header
{ width: 670px; margin: 0 auto; position: relative; }

.event-table-header h4
{ width: 235px; text-align: center; }

.event-table-header .ic-calendar
{ position: absolute; right: 0; top: 20px; }

#admin-page-content-header-additional-content
{ display: inline; }


/* Tables */
.info-table th, .info-table td
{ padding: 8px 10px 0 0; text-align: left; vertical-align: text-top; font-weight: normal;  }

.info-table td
{ font-weight: bold;  }

.lecture-table th, .lecture-table td
{ font-weight: normal; padding: 8px 10px 0 0; text-align: left; vertical-align: text-top; }

.admin-table, .admin-table-light, .classification-table
{ border: 1px solid #dbdbdb; margin-top: 15px; }

.admin-table .ic-select-arrow
{ padding-right: 15px; }

.admin-table .ic-asc-arrow
{ padding-right: 15px; }

.admin-table .ic-desc-arrow
{ padding-right: 15px; }

.admin-table td, .admin-table th, .admin-table-light td, .admin-table-light th, .classification-table td, .classification-table th
{ padding: 10px; border: 1px solid #dbdbdb; text-align: left; border-bottom: none; border-top: none; }

.admin-table th, .admin-table-light th, .classification-table th
{ border: 1px solid #dbdbdb; }

.admin-table tr:nth-child(odd), .classification-table tr:nth-child(odd)
{ background: #f7f7f7; }

.admin-table tr td:first-child 
{ background: #f6f6f6; }

.admin-table .admin-table-dark
{ background: #efefef !important; }

.admin-table-light, .classification-table
{ width: 100%; }

.admin-table-light tr:nth-child(even)
{ background: #f7f7f7; }

.classification-table th
{ background: #F7F7F7; }

.classification-table td
{ border: 1px solid #dbdbdb;  }




/* Icons */
.ic-calendar span
{ background: url('/static/img/ic_calendar.png') no-repeat 0 2px; padding: 2px 0 2px 25px; display: block; }

.ic-calendar.loading span, a#add-all-lectures.loading {
	background-image: url('/static/img/spinner-grey.gif') !important;
}

.admin-overview-quick-links .ic-calendar, .ic-duplicate, .ic-import-blue
{ background: url('/static/img/ic_calendar.png') no-repeat 0 2px; padding: 2px 0 2px 35px; display: block; }

.ic-duplicate
{ background: url('/static/img/ic_duplicate.png') no-repeat 0 2px; }

.ic-import-blue
{ background: url('/static/img/ic_import_blue.png') no-repeat 0 2px; }

.ic-select, .ic-deselect
{ font-weight: bold; padding: 0 0 0 22px; display: inline-block; }

.ic-select
{ background: url('/static/img/ic_select.png') no-repeat; }

.ic-deselect
{ background: url('/static/img/ic_deselect.png') no-repeat; }

.ic-select-arrow
{ background: url('/static/img/ic_down.png') no-repeat center right; padding-right: 25px; }

.ic-asc-arrow
{ background: url('/static/img/ic_asc.png') no-repeat center right; padding-right: 25px; }

.ic-desc-arrow
{ background: url('/static/img/ic_desc.png') no-repeat center right; padding-right: 25px; }

.ic-remove
{ background: url('/static/img/ic_remove.png') no-repeat; display: inline-block; width: 16px; height: 16px; float: right; }

.ic-delete
{ background: url('/static/img/ic_remove.png') no-repeat; float: right; padding-left: 20px; }

/* this is here because its not possible to float ic-add right in add-administrators */
.ic-undelete
{ background: url('/static/img/ic_add.png') no-repeat; float: right; padding-left: 20px; }

.ic-print, .ic-export
{ display: inline-block; margin: 0 7px; }

.ic-print
{ background: url('/static/img/ic_print.png') no-repeat; padding: 0 0 0 25px; }

.ic-export
{ background: url('/static/img/ic_export.png') no-repeat; padding: 0 0 0 30px;  }

.ic-import
{ background: url('/static/img/ic_import.png') no-repeat left center ; padding: 10px 0 2px 30px;  }

.ic-add
{ background: url('/static/img/ic_add.png') no-repeat; padding: 2px 0 2px 20px; margin: 0; font-weight: bold; }



.ic-delete-action
{ background: url('/static/img/ic_delete.png') no-repeat; padding: 2px 0 2px 20px; margin: 0; font-weight: bold; }

.ic-help
{ background: url('/static/img/ic_help.png') no-repeat; font-weight: bold; display: block; height: 17px; width: 17px; position: absolute; right: -25px; top: -4px; cursor: pointer; }

.popup-help-control
{  cursor: pointer; }

.combine .ic-help
{ position: static; float: left; margin-top: 7px; margin-left: 5px; }

.combine .btn-type1
{ float: left; }

/* Dialogs */ 

/* Reset */
.ui-dialog
{ min-height: 120px; box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); }

.ui-dialog .ui-dialog-titlebar
{ display: none; }

.ui-dialog a
{ color: #fff; }

/* General style */
.admin-dialog h3
{ margin-top: 5px; }

.admin-dialog section
{ background: #f6f6f6; margin: 10px 0 5px 0; }

.admin-dialog label
{ width: 100px; display: block; font-size: 12px; }

.admin-dialog input[type=text]
{ border: 1px solid #d6d6d6; -webkit-appearance: none; -moz-appearance: none; }

.admin-dialog select
{ padding: 0; font-size: 12px; height: 22px; }

.admin-dialog p
{ font-size: 12px; }

.admin-dialog ul
{ clear: both; }

.admin-dialog ul li
{ padding-bottom: 5px; }


/* Specific sections */
.admin-dialog .date-time
{ width: 100%; margin-top: 5px; background: #f6f6f6;}

.admin-dialog .dates-edit
{ width: 100%; margin-top: 5px;  background: #f6f6f6; }

.admin-dialog .dates-edit div
{ margin: 10px; margin: 10px }


.admin-dialog .dates-edit a
{ float: right; margin-right: 20px; }

.admin-dialog .days, .admin-dialog .time, .admin-dialog .date-range, .admin-dialog .frequency
{ width: 312px; float: left; height: 110px; padding: 10px; }

.admin-dialog .days
{ padding-right: 0px;}

.admin-dialog .days label
{ width: 90px; display: block; font-size: 12px; }

.admin-dialog .time, .admin-dialog .frequency
{ padding-left: 0; }

.admin-dialog .time
{ width: 220px; padding-left:5px; border-left: 1px solid #E2E2E2 }

.admin-dialog .time select
{ width: 45px; font-size: 11px; height: 21px; }

.admin-dialog fieldset
{ display: inline; float: left; }

.admin-dialog .frequency
{ background: #fff; padding: 0; width: 210px;  }

.admin-dialog .frequency ul li
{ background: #F6F6F6; padding: 5px 0 5px 5px; margin: 0 0 8px 0; }

.admin-dialog .frequency ul li label
{ background: #F6F6F6; width: 100%; display: inline; }

.admin-dialog .date-range
{ display: block; }

.admin-dialog .dialog-menu li
{ margin-bottom: 0;  }


/* Radio button tab groups */
.admin-tab-group-events
{ background: #fff; margin: -10px -20px 0 -20px !important; padding: 10px 0; }

.admin-tab-edit
{ background: #fff; margin: -10px 0 -25px 0 !important; padding: 10px 0; }

.admin-tab-group-events .nav-tabs 
{ width: 100%; background: #F3F3F3; padding-top: 10px;}

.admin-tab-group-events .nav-tabs li:first-child
{ margin-left: 8px; }

.admin-tab-group-events .nav-tabs li
{ background: #e8e8e8 !important; }

.admin-tab-group-events .nav-tabs .selected
{ background: #fff !important; }

.admin-dialog .radio-btn-tab-group
{ background: #fff; padding: 0; margin: 8px 10px 0 0; width: 350px;  }

.admin-dialog .nav-tabs li, .admin-tab-group-events .nav-tabs li
{ background: #ebf2f3; float: left; margin: 0 5px 0 0; padding: 8px; -moz-border-top-left-radius: 6px; -moz-border-right-radius: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; }

.admin-tab-group-events .nav-tabs li
{ float: none; display: inline-block; }

.admin-dialog .nav-tabs
{ padding: 2px; }

.radio-btn-tab-content
{ width: 100%; float: left; background: #F6F6F6; display: block; min-height: 70px; }

.radio-btn-tab-content ul
{ margin: 10px; }

.repetitions-content label
{ font-weight: bold; }

.repetitions-content input
{ width: 50px; padding: 2px; }

.repetitions-content label
{ width: 200px; padding: 2px; }

.weeks-content label
{ font-weight: bold; }

.weeks-content input, .weeks-content label
{ width: 50px; padding: 2px; }

#duplicate-dialog select
{ margin-top: 15px; width: 150px; }

#faculty-link-dialog input
{ width: 100%; }

#classification-dialog h3, #edit-classification-dialog h3
{ display: inline-block; min-width: 500px; }

#classification-dialog .clear, #edit-classification-dialog .clear
{ color: #0cb4c3; }

#classification-dialog label, #edit-classification-dialog label
{ width: 100%; }

#classification-dialog fieldset, #edit-classification-dialog fieldset
{ margin-top: 10px; }

#classification-dialog input[type=checkbox], #edit-classification-dialog input[type=checkbox]
{ margin-right: 5px; }

#classification-dialog #classification-dialog-level, #edit-classification-dialog #edit-classification-dialog-level
{ display: block; clear: both; width: 200px; margin-right: 10px; }

#classification-dialog ul li, #edit-classification-dialog ul li
{ margin: 1px 0; padding-left: 5px; }

#classification-dialog .classification-dialog-heading, #edit-classification-dialog .edit-classification-dialog-heading
{ background: #f3f3f3; padding: 5px 10px 5px 5px; margin-bottom: 10px; font-size: 12px; }

#classification-dialog-level-paper-list li, #edit-classification-dialog-level-paper-list li
{ width: 233px; display:inline-block;  }

#classification-dialog-subject-paper, #edit-classification-dialog-subject-paper
{ margin: 0; padding: 0; width: 490px; }

#classification-dialog-subject-paper .classification-dialog-heading, #edit-classification-dialog-subject-paper .classification-dialog-heading
{ margin-bottom: 8px; }

#classification-dialog-subject-paper ul li, #edit-classification-dialog-subject-paper ul li
{ padding-left: 3px; }



#publish-timetables-dialog h3
{ display: inline-block; min-width: 500px; }

#publish-timetables-dialog .clear
{ color: #0cb4c3; }

#publish-timetables-dialog label
{ width: 100%; }

#publish-timetables-dialog fieldset
{ margin-top: 10px; }

#publish-timetables-dialog input[type=checkbox]
{ margin-right: 5px; }

#publish-timetables-dialog #publish-timetables-dialog-level
{ display: block; clear: both; width: 200px; margin-right: 10px; }

#publish-timetables-dialog ul li
{ margin: 1px 0; padding-left: 5px; }

#publish-timetables-dialog .classification-dialog-heading
{ background: #f3f3f3; padding: 5px 10px 5px 5px; margin-bottom: 10px; font-size: 12px; }

#publish-timetables-dialog-level-paper-list li
{ width: 233px; display:inline-block;  }

#publish-timetables-dialog-subject-paper
{ margin: 0; padding: 0; width: 490px; }

#publish-timetables-dialog-subject-paper .classification-dialog-heading
{ margin-bottom: 8px; }

#publish-timetables-dialog-subject-paper ul li
{ padding-left: 3px; }


#edit-lecturers-dialog label, #edit-location-dialog label
{ font-weight: bold; width: 185px; }

#edit-lecturers-dialog input, #edit-location-dialog label
{ width: 185px; }

#edit-lecturers-dialog ul li, #edit-location-dialog ul li
{ margin-right: 0; }

#edit-lecturers-dialog ul, #edit-location-dialog ul
{ margin-bottom: 10px; overflow: auto; }

#edit-lecturers-dialog .caption, #edit-location-dialog .caption
{ font-size: 11px; font-style: italic; display: block; }

#edit-lecturers-dialog h3, #edit-location-dialog h3
{ margin-bottom: 15px; }

#edit-lecturers-dialog #current-lecturers, #edit-location-dialog #current-lecturers
{ width: 175px; display: block; margin-right: 10px; font-size: 11px;  }


#borrow-dialog label
{ font-weight: bold; }

#borrow-dialog #faculty-input
{ width: 400px; }

#borrow-dialog #faculty-select
{ width: 150px; }

#borrow-dialog p
{ margin: 0 0 20px 0; }

#borrow-dialog table
{ width: 100%; }

#borrow-dialog table tr th
{ text-align: left; padding-bottom: 10px; }

#borrow-dialog table tr td:first-child
{ width: 20px; }

#borrow-dialog table td
{ padding: 5px 12px 5px 0; }

#borrow-dialog fieldset
{ margin: 20px 0; }

#borrow-dialog fieldset:first-child
{ margin-top: 0; }

/* Panels */
.admin-panel
{ z-index: 100; display: none; width: 250px; position: absolute; top: 200px; left: 200px; background: #fff; padding: 10px; border: 4px solid #eeeeee; -webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.75); -moz-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.75); box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.75); }

.admin-panel input
{width: 97%; -moz-appearance: none; -webkit-appearance: none; border: 1px solid #d6d6d6; padding: 2px 2px; }

.admin-panel .panel_arrow
{ width: 40px; height: 25px; display: block; background: url('/static/img/panel_arrow.png') no-repeat; position: absolute; right: 115px; bottom: -25px; }

#revision-static-overview
{ margin-top: 15px; }

#revision-data, #group-data
{ margin: 0 11px; }

#revision-editor
{ margin-top: -15px; }

/* Horizontal Line */
hr
{  border:#d9d9d9 1px dashed; border-style: none none dashed; margin: 0; clear: both; clear:both; }

strong
{ color: #8f2b8c; }

.float-right
{ float: right; }

.purple
{ color: #8F2B8C; }

.spacer2
{ margin: 20px 0; }
 
.spacer
{ height: 70px; }

/* Faculty & Year selection */
select.organisation-select[disabled]
{ display: none; }

.clear-self:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* Information dialog used to show events in student calendar views. */
.info-dialog {
  border: 6px solid #cecece;
  border-radius: 3px;

  /* temporary for testing */
  max-width: 300px;

  /* In order to allow the triangle image to be ps */
  position: relative;
}

.info-dialog__content {
  background-color: white;
}

.info-dialog__header {
  background-color: #f5f5f5;
  /* Prevent the header-content's margins from collapsing through ours so that
     our border extends to the edges. */
  border: 1px solid transparent;
}

.info-dialog__header-content {
  margin: 10px 17px;
}

.info-dialog__body {
  margin: 15px;
}


/* 
 * Styles specific to an info dialog showing event information
 */

/* Make space on the left of the title for the type icon if marked as a specific
 * type of event */
.info-box_type_event .info-dialog__header-content .event-type_lecture,
.info-box_type_event .info-dialog__header-content .event-type_practical,
.info-box_type_event .info-dialog__header-content .event-type_lab {
  padding-left: 22px;
}

.info-dialog__top-triangle {
  position: absolute;
  left: 50%;
  top: -17px;
  /* Offset self to the left by half our width do make the 50% placement above
   * place our center at 50%, rather than our left edge. */
  margin-left: -11px;
}

.info-box_type_event .info-dialog__body table {
  margin-left: 4px;
}

.info-box_type_event .info-dialog__body p:last-child {
  margin-bottom: 0;
}

.info-box_type_event {
  position: absolute;
  left: 50%;
  top: 27px;
  width: 300px;
  margin-left: -150px;
  z-index: 10;
  text-align: left;
}

/* 
 * A table which is used to display properties of events - times, lecturers,
 * locations 
 */
.event-info-table__label {
  padding-right: 22px;
  text-align: right;
}

.event-info-table__value {
  font-weight: bold;
}
/* Plugin Driven CSS */



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



/* used in superadmin add faculty, might want a better home or better style */
#edit-classification-dialog .list-vertical li  { margin-top: 15px;}
#edit-classification-dialog .list-vertical input { width: 250px;}
#edit-classification-dialog .list-vertical textarea { width: 250px; height: 100px;}
#edit-classification-dialog .list-vertical select { width: 200px;}


/* Fix to make help icons work in all forms, display table !important is there to prevent django forms labels scooting the 
icon over to the right. */
.help-popup 
{ font-size: 12px; margin: 10px; margin-bottom: 0; padding: 0; position: relative; display: table !important; }


/* Fix to make help icons work in all forms */
.help-popup .ic-help
{ right: -20px; margin-top: 3px; }
