{% extends "error/error-base.html" %}
{% load url from future %}

{% block title-area %}
	<div id="title" class="content-container">Account Error</div>
{% endblock %}

{% block error-explanation %}
<h2>Account Error</h2>
{% endblock error-explanation %}

{% block error-content %}
  {% if error == "invalid_login" %}
    <p>Sorry: Your account is not authorized to access this service, please contact <a href="{% url "TODO" %}" >helpdesk</a> for support.</p>
  {% elif error = "account_disabled" %}
    <p>Sorry: Your account on this service has been disabled, please contact <a href="{% url "TODO" %}" >helpdesk</a> for support.</p>
  {% else %}
    <p>Sorry: Opps, you got to this error page... in error.</p>
    <p>The error was [{{ error }}]</p> 
    <p>If this continues to happen, contact <a href="{% url "TODO" %}" >helpdesk</a> for support.</p>  
  {% endif %}
  
{% endblock error-content %}