{% extends "administrator/administrator-base.html" %}
{% load url from future %}


{# No breadcrumbs on this page. #}
{% block admin-nav-breadcrumb %}{% endblock admin-nav-breadcrumb %}

{% block admin-page-content-header-title %}
Overview
{% endblock admin-page-content-header-title %}

{% block pagehelp %}
	<span help-title="Administration Overview" style="display:none">
        <p>
           This page shows you an overview of the timetable. On the left hand side
           is a menu that allows you to see the events associated with this faculty.
           In the top bar you can select which faculty you want to view in which year.
           The quick links, if you have permission will allow you to get common things 
           done quickly.....
        </p>
        {% if can_publish %}
        <p>
           Since you have publish permissions on this timetable you can publish all
           of the events in the time table using the publish button.
        </p>
        {% endif %}
    </span>
{% endblock %}


{% block admin-header-additional-content %}
{# This should only be shown to Key Faculty Admins #}
{% if can_publish %}
<form action="{% url "admin publish timetables" page_year.url_id page_organisation.url_id %}" method="post" >
	{% csrf_token %}
	<ul class="list-horizontal">
	    <li>
	        <h3>Publish Faculty Timetables</h3>
	        This action will publish all Timetables from your faculty.
	    </li>
	    <li>
	        <div class="embargo-block">
	            <label class="block-label"><b>Embargo Until</b> (optional)</label>
	            <input name="embargo-date" class="col1 date-picker-control"  placeholder="DD/MM/YYYY">
	            <a href="javascript:;" class="ic-import-date"></a>
	        </div>
	    </li>
	    <li class="item-right">
	    	<input type="hidden" name="all" value="1" />
	        <input type="submit" class="btn-type1 btn-medium btn-right" value="Publish Timetable" id="btn-publish-timetable"/>
	    </li>
	</ul>
</form>
{% endif %}
{% endblock admin-header-additional-content %}

{% block admin-page-content %}

{% if can_publish %}
{% include "administrator/fragments/published-timetables-notification.html" %}
{% endif %}

<div id="duplicate-dialog" title="" class="admin-dialog">
    <form action="{% url "admin duplicate timetables" page_year.url_id page_organisation.url_id  %}" method="post">
    	{% csrf_token %}
        <fieldset>
            <h3>Select a year to assign new timetable to</h3>
            <select name="year" id="year-assign-select">
                {% for year in available_years %}
                    <option value="{{ year.id }}">{{ year }}</option>
                {% endfor %}
            </select>
        </fieldset>
        
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><input type="submit" class="btn-medium btn-type1" /></li>
        </ul>
    </form>
</div>



<section class="admin-overview-grid">
    <section class="admin-overview-links">
        <section class="admin-overview-quick-links">
            <h4>Quick Links</h4>
            <ul>
                {% if can_write %}
                <li>
                    <a class="ic-calendar" href="{% url "admin add events" page_year.url_id page_organisation.url_id  %}">Add New Event</a>
                </li>
                <li>
                    <a class="ic-calendar" href="{% url "admin add events" page_year.url_id page_organisation.url_id  %}?tab=url">Link to External Timetable</a>
                </li>
                <li>
                    <a id="open-duplicate-dialog" class="ic-duplicate" href="javascript:void(0)">Duplicate Year Timetable</a>
                </li>
                <li>
                    <a class="ic-import-blue" href="{% url "admin import events" page_year.url_id page_organisation.url_id %}">Import Events</a>
                </li>
                {% else %}
                <li>
                You do not have permission to change this timetable.
                </li>
                {% endif %}
            </ul>
        </section>
        <section class="admin-useful-links">
            <h4>Useful Links</h4>
            <p><a href="https://webservices.admin.cam.ac.uk/roombooking/default.aspx">Room Booking</a></p>
        </section>
    </section>
    
    <section class="admin-revisions">
        <h1>Recent Changes</h1>
        {% include "administrator/fragments/recent-changes.html" with recent_changes=recent_changes %}
        <p><a class="nav-right" href="{% url "admin change history" page_year.url_id page_organisation.url_id %}">View Change History >></a></p>
    </section>
</section>
{% endblock admin-page-content %}