{% extends "administrator/editor-base.html" %}

{% block pagehelp %}
	<span help-title="Administration Add New Event" style="display:none">
        <p>
           This page shows you to add new events by creating one or more groups of events and then
           configuring one or more series in the events.
        </p>
    </span>
{% endblock %}