{% extends "administrator/administrator-base.html" %}
{% comment %}
This page is the "Add New Classification" page from the admin blueprint. It
allows for the addition of a classification specified by name and level and
classification group (if more than one is available). Optionally, a contact,
website, and description can also be provided.
{% endcomment %}

{# Required to use variables in url tags. #}
{% load url from future %}


{% block admin-nav-breadcrumb-additional-content %}
{% endblock admin-nav-breadcrumb-additional-content %}

{% block admin-page-dialog %}
     {% include "administrator/fragments/status-messages.html" %}
{% endblock admin-page-dialog %}

{% block admin-page-content-header-additional-content %}
{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content-root %}
{% endblock admin-header-additional-content-root %}

{% block admin-page-form-start %}
    <form id="editor" action="{% url "admin save classifications" page_year.url_id page_organisation.url_id %}" method="post">
    {% csrf_token %}
{% endblock admin-page-form-start %}

{% block admin-page-content %}
<section id="add-classifications">

<p>Students will be able to see this information when the timetable is published.</p>

<div class="section-admin-content-group" id="add-classifications-form">

{% include "administrator/fragments/error-notification.html" %}
    
        <ul class="block-label list-horizontal">
            <li>
                <label>Classification Name</label>
                <input type="text" id="classification-name" name="classification-name" value="" />
                <div class="validation_classification_name errormessage">Classification name must be unique and not empty</div>
            </li>
            
        </ul>

        <ul class="list-vertical">
          <li>
          {% include "administrator/fragments/classification-selection-dropdown.html" %}
          </li>
        </ul>
        
        <ul class="block-label list-horizontal">
            <li>
                <label>Contact <span class="optional-label">(Optional)</span></label>
                <input type="text" name="classification-contact" value="" />
            </li>
        </ul>
        <ul class="block-label list-horizontal">
            <li>
                <label>Website <span class="optional-label">(Optional)</span></label>
                <input type="text" name="classification-website" value="" />            
            </li>
        </ul>
        
        <ul class="block-label list-horizontal">
            <li>
                <label>Classification Description <span class="optional-label">(Optional)</span></label>
                <textarea name="classification-description"></textarea>
            </li>
        </ul>
</div>


<ul class="nav-horizontal nav-right">
    <li><a class="btn-type2 btn-medium" href="{% url "admin classifications" page_year.url_id page_organisation.url_id %}">Cancel</a></li>
    <li><input type="submit" value="Save" class="btn-type1 btn-medium" /></li>
</ul>

</section>

{% endblock admin-page-content %}

{% block admin-page-form-end %}
    </form>
{% endblock admin-page-form-end %}