{% extends "administrator/administrator-base.html" %}
{% comment %}
This page is the "Change History Revision 1" page from the admin blueprint.
{% endcomment %}

{# Required to use variables in url tags. #}
{% load url from future %}

{% block admin-page-content-header-additional-content %}

{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content-root %}{% endblock admin-header-additional-content-root %}


{% block admin-page-content %}
<section id="revision-data">
    <table class="admin-table-light">
        <tr>
            <th>Date Updated</th>
            <th>Administrator</th>
            <th>Comment</th>
        </tr>
        <tr>
            <td>{{ revision.created }}</td>
            <td>{{ revision.user }}</td>
            <td>{{ revision.comment }}</td>
        </tr>
    </table>
</section>

<section id="group-data">
    <table class="admin-table-light">
        <tr>
            <th>Group</th>
            <th>Lecturer</th>
            <th>Timetables</th>
        </tr>
        {% for group in group_versions %}
        <tr>
            <td><a href="{% url "admin change history revision details" page_year.url_id page_organisation.url_id group.id %}">{{ group.name }}</a></td>
            <td>{% for lecturer in group.lecturers %}{{ lecturer.name }} {% endfor %}</td>
            <td>{% for timetable in group.timetables %}{{ timetable.name }} {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
</section>


{% endblock admin-page-content %}