{% extends "administrator/administrator-base.html" %}
{% load url from future %}

{% block admin-nav-breadcrumb-additional-content %}
<a href="javascript:void(0)" class="btn-medium ic-import open-borrow-dialog">Borrow Event Groups</a>
{% endblock admin-nav-breadcrumb-additional-content %}

{% block admin-page-form-start %}
<form id="editor" action="{% url "admin save events" page_year.url_id page_organisation.url_id %}" method="post">
<!--  this form should wrap all the components except dialog boxes,
      when it is submitted it will contain all the state of the
      group and all events as the user wants them to appear -->
      {% csrf_token %}
{% endblock admin-page-form-start %}

{% block admin-page-dialog %}
    {% include "administrator/fragments/status-messages.html" %}
	{% include "administrator/fragments/date-dialog.html" %}
	{% include "administrator/fragments/borrow-dialog.html" %}
	{% include "administrator/fragments/long-post-dialog.html" %}
	
	<table id="events_pending_load" style="display:none">
		<tr class="event" >
  			<td colspan="5">
 		      <img class="loading-indicator" src="/static/img/spinner.gif"> Loading.
 		    </td>
 		</tr>
    </table>
{% endblock admin-page-dialog %}



{% block admin-page-content-header-additional-content %}
{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content %}
<!-- start additional content -->

{% include "administrator/fragments/error-notification.html" %}

<p class="descriptiveText">What timetable do these events belong to?</p>
{% include "administrator/fragments/classification-selection.html" %}
<!-- end additional content -->
{% endblock admin-header-additional-content %}




{% block admin-page-content %}
{% if new_group %}
	<div class="admin-tab-edit admin-tab-group-events">
	    <ul class="nav-tabs">
	        <li class="radio-btn-tab {% if events_tab %}selected{% endif %}">
	        	<input type="radio" id="open-add-events-tab" name="group_type" value="events" {% if events_tab %}checked="checked"{% endif %}/> 
	        	<label for="open-add-events-tab">Add Events</label>
	        </li>
	        <li class="radio-btn-tab {% if external_url_tab %}selected{% endif %}">
	        	<input type="radio" id="open-add-external-link-tab" value="external_url" name="group_type" {% if external_url_tab %}checked="checked"{% endif %}/>
	        	<label for="open-add-external-link-tab">Link to external Timetable</label>
	        </li>
	    </ul>
	</div>
	<div id="add-events-tab" {% if external_url_tab %}style="display:none"{% endif %}>
	    {% include "administrator/fragments/editor-group.html" %}
		<span id="end-of-group-editors" ></span>
	    <ul class="nav-horizontal">
	        <li>
	            <a class="btn-medium btn-type1" href="javascript:void(0)" id="add-new-group-button">Add New Group</a>
	        </li>
	    </ul>
	</div>
	<div id="external-link-tab" {% if events_tab %}style="display:none"{% endif %} >
	    {% include "administrator/fragments/editor-url-group.html" %}
	</div>
{% else %}
{% if external_url %}
	<div class="admin-tab-edit admin-tab-group-events">
	    <ul class="nav-tabs">
	        <li>
	        	<label for="open-add-events-tab">Add Events</label>
	        </li>
	        <li class="selected">
	        	<input type="radio" id="open-add-external-link-tab-disabled" value="external_url" checked="checked" name="group_type" />
	        	<label for="open-add-external-link-tab">Link to external Timetable</label>
	        </li>
	    </ul>
	</div>
	<div id="external-link-tab" >
	    {% include "administrator/fragments/editor-url-group.html" %}
	</div>
{% else %}
	<div class="admin-tab-edit admin-tab-group-events">
	    <ul class="nav-tabs">
	        <li class="selected">
	        	<input type="radio" id="open-add-events-tab" value="events" checked="checked" name="group_type" />
	        	<label for="open-add-events-tab">Add Events</label>
	        </li>
	        <li>
	        	<label for="open-add-external-link-tab">Link to external Timetable</label>
	        </li>
	    </ul>
	</div>
	<div id="add-events-tab" >
	    {% include "administrator/fragments/editor-group.html" %}
	</div>
{% endif %}
{% endif %}
    <div class="section-admin-content-group">
        <ul class="list-horizontal">
            <li>
                <h4>Would you like to add a comment to this update?</h4>
                <p>This comment will be included in the Change History</p>
            </li>
            <li>
                <textarea rows="3" name="comment" cols="50"></textarea>
            </li>
        </ul>
    </div>

    <ul class="nav-horizontal nav-right">
    	<!-- NB: View on calendar is likely to be quite expensive to implement -->
        <input type="checkbox" name="can_borrow" id="can_borrow" value="1" checked="checked" />
        <label for="can_borrow" >Make these events available for borrowing</label>
        <li><a class="btn-small btn-type3 ic-calendar" href="{% url "TODO" %}"><span>View on Calendar</span></a></li>
        <li><input type="submit" value="Save" class="btn-small btn-type3"  /></li>
    </ul>

{# Hook for edit events page to add history block. #}
{% block editor-base-footer %}
{% endblock editor-base-footer %}

{% endblock admin-page-content %}

{% block admin-page-form-end %}
</form>
{% endblock admin-page-form-end %}
